@charset "utf-8";

.wtdhGeneral_dec10pc_01{ width:010%;}
.wtdhGeneral_dec10pc_02{ width:020%;}
.wtdhGeneral_dec10pc_03{ width:030%;}
.wtdhGeneral_dec10pc_04{ width:040%;}
.wtdhGeneral_dec10pc_05{ width:050%;}
.wtdhGeneral_dec10pc_06{ width:060%;}
.wtdhGeneral_dec10pc_07{ width:070%;}
.wtdhGeneral_dec10pc_08{ width:080%;}
.wtdhGeneral_dec10pc_09{ width:090%;}
.wtdhGeneral_dec10pc_10{ width:100%;}

.wtdhGeneral_dec10vw_01{ width:010vw;}
.wtdhGeneral_dec10vw_02{ width:020vw;}
.wtdhGeneral_dec10vw_03{ width:030vw;}
.wtdhGeneral_dec10vw_04{ width:040vw;}
.wtdhGeneral_dec10vw_05{ width:050vw;}
.wtdhGeneral_dec10vw_06{ width:060vw;}
.wtdhGeneral_dec10vw_07{ width:070vw;}
.wtdhGeneral_dec10vw_08{ width:080vw;}
.wtdhGeneral_dec10vw_09{ width:090vw;}
.wtdhGeneral_dec10vw_10{ width:100vw;}

@media (max-width: 320px){
	.wtdhMax0320_dec10pc_01{ width:010%;}
	.wtdhMax0320_dec10pc_02{ width:020%;}
	.wtdhMax0320_dec10pc_03{ width:030%;}
	.wtdhMax0320_dec10pc_04{ width:040%;}
	.wtdhMax0320_dec10pc_05{ width:050%;}
	.wtdhMax0320_dec10pc_06{ width:060%;}
	.wtdhMax0320_dec10pc_07{ width:070%;}
	.wtdhMax0320_dec10pc_08{ width:080%;}
	.wtdhMax0320_dec10pc_09{ width:090%;}
	.wtdhMax0320_dec10pc_10{ width:100%;}
	
	.wtdhMax0320_dec10vw_01{ width:010vw;}
	.wtdhMax0320_dec10vw_02{ width:020vw;}
	.wtdhMax0320_dec10vw_03{ width:030vw;}
	.wtdhMax0320_dec10vw_04{ width:040vw;}
	.wtdhMax0320_dec10vw_05{ width:050vw;}
	.wtdhMax0320_dec10vw_06{ width:060vw;}
	.wtdhMax0320_dec10vw_07{ width:070vw;}
	.wtdhMax0320_dec10vw_08{ width:080vw;}
	.wtdhMax0320_dec10vw_09{ width:090vw;}
	.wtdhMax0320_dec10vw_10{ width:100vw;}
}

@media (min-width: 321px) and (max-width: 480px){
	.wtdhMin321Max480_dec10pc_01{ width:010%;}
	.wtdhMin321Max480_dec10pc_02{ width:020%;}
	.wtdhMin321Max480_dec10pc_03{ width:030%;}
	.wtdhMin321Max480_dec10pc_04{ width:040%;}
	.wtdhMin321Max480_dec10pc_05{ width:050%;}
	.wtdhMin321Max480_dec10pc_06{ width:060%;}
	.wtdhMin321Max480_dec10pc_07{ width:070%;}
	.wtdhMin321Max480_dec10pc_08{ width:080%;}
	.wtdhMin321Max480_dec10pc_09{ width:090%;}
	.wtdhMin321Max480_dec10pc_10{ width:100%;}

	.wtdhMin321Max480_dec10vw_01{ width:010vw;}
	.wtdhMin321Max480_dec10vw_02{ width:020vw;}
	.wtdhMin321Max480_dec10vw_03{ width:030vw;}
	.wtdhMin321Max480_dec10vw_04{ width:040vw;}
	.wtdhMin321Max480_dec10vw_05{ width:050vw;}
	.wtdhMin321Max480_dec10vw_06{ width:060vw;}
	.wtdhMin321Max480_dec10vw_07{ width:070vw;}
	.wtdhMin321Max480_dec10vw_08{ width:080vw;}
	.wtdhMin321Max480_dec10vw_09{ width:090vw;}
	.wtdhMin321Max480_dec10vw_10{ width:100vw;}
}

@media (min-width: 481px) and (max-width: 600px){
	.wtdhMin481Max600_dec10pc_01{ width:010%;}
	.wtdhMin481Max600_dec10pc_02{ width:020%;}
	.wtdhMin481Max600_dec10pc_03{ width:030%;}
	.wtdhMin481Max600_dec10pc_04{ width:040%;}
	.wtdhMin481Max600_dec10pc_05{ width:050%;}
	.wtdhMin481Max600_dec10pc_06{ width:060%;}
	.wtdhMin481Max600_dec10pc_07{ width:070%;}
	.wtdhMin481Max600_dec10pc_08{ width:080%;}
	.wtdhMin481Max600_dec10pc_09{ width:090%;}
	.wtdhMin481Max600_dec10pc_10{ width:100%;}
	
	.wtdhMin481Max600_dec10vw_01{ width:010vw;}
	.wtdhMin481Max600_dec10vw_02{ width:020vw;}
	.wtdhMin481Max600_dec10vw_03{ width:030vw;}
	.wtdhMin481Max600_dec10vw_04{ width:040vw;}
	.wtdhMin481Max600_dec10vw_05{ width:050vw;}
	.wtdhMin481Max600_dec10vw_06{ width:060vw;}
	.wtdhMin481Max600_dec10vw_07{ width:070vw;}
	.wtdhMin481Max600_dec10vw_08{ width:080vw;}
	.wtdhMin481Max600_dec10vw_09{ width:090vw;}
	.wtdhMin481Max600_dec10vw_10{ width:100vw;}
}

@media (min-width: 601px) and (max-width: 800px){
	.wtdhMin601Max800_dec10pc_01{ width:010%;}
	.wtdhMin601Max800_dec10pc_02{ width:020%;}
	.wtdhMin601Max800_dec10pc_03{ width:030%;}
	.wtdhMin601Max800_dec10pc_04{ width:040%;}
	.wtdhMin601Max800_dec10pc_05{ width:050%;}
	.wtdhMin601Max800_dec10pc_06{ width:060%;}
	.wtdhMin601Max800_dec10pc_07{ width:070%;}
	.wtdhMin601Max800_dec10pc_08{ width:080%;}
	.wtdhMin601Max800_dec10pc_09{ width:090%;}
	.wtdhMin601Max800_dec10pc_10{ width:100%;}
	
	.wtdhMin601Max800_dec10vw_01{ width:010vw;}
	.wtdhMin601Max800_dec10vw_02{ width:020vw;}
	.wtdhMin601Max800_dec10vw_03{ width:030vw;}
	.wtdhMin601Max800_dec10vw_04{ width:040vw;}
	.wtdhMin601Max800_dec10vw_05{ width:050vw;}
	.wtdhMin601Max800_dec10vw_06{ width:060vw;}
	.wtdhMin601Max800_dec10vw_07{ width:070vw;}
	.wtdhMin601Max800_dec10vw_08{ width:080vw;}
	.wtdhMin601Max800_dec10vw_09{ width:090vw;}
	.wtdhMin601Max800_dec10vw_10{ width:100vw;}
}

@media (min-width: 801px) and (max-width: 1024px){
	.wtdhMin801Max1024_dec10pc_01{ width:010%;}
	.wtdhMin801Max1024_dec10pc_02{ width:020%;}
	.wtdhMin801Max1024_dec10pc_03{ width:030%;}
	.wtdhMin801Max1024_dec10pc_04{ width:040%;}
	.wtdhMin801Max1024_dec10pc_05{ width:050%;}
	.wtdhMin801Max1024_dec10pc_06{ width:060%;}
	.wtdhMin801Max1024_dec10pc_07{ width:070%;}
	.wtdhMin801Max1024_dec10pc_08{ width:080%;}
	.wtdhMin801Max1024_dec10pc_09{ width:090%;}
	.wtdhMin801Max1024_dec10pc_10{ width:100%;}
	
	.wtdhMin801Max1024_dec10vw_01{ width:010vw;}
	.wtdhMin801Max1024_dec10vw_02{ width:020vw;}
	.wtdhMin801Max1024_dec10vw_03{ width:030vw;}
	.wtdhMin801Max1024_dec10vw_04{ width:040vw;}
	.wtdhMin801Max1024_dec10vw_05{ width:050vw;}
	.wtdhMin801Max1024_dec10vw_06{ width:060vw;}
	.wtdhMin801Max1024_dec10vw_07{ width:070vw;}
	.wtdhMin801Max1024_dec10vw_08{ width:080vw;}
	.wtdhMin801Max1024_dec10vw_09{ width:090vw;}
	.wtdhMin801Max1024_dec10vw_10{ width:100vw;}
}
@media (min-width: 1025px) and (max-width: 1280px){ 
	.wtdhMin1025Max1280_dec10pc_01{ width:010%;}
	.wtdhMin1025Max1280_dec10pc_02{ width:020%;}
	.wtdhMin1025Max1280_dec10pc_03{ width:030%;}
	.wtdhMin1025Max1280_dec10pc_04{ width:040%;}
	.wtdhMin1025Max1280_dec10pc_05{ width:050%;}
	.wtdhMin1025Max1280_dec10pc_06{ width:060%;}
	.wtdhMin1025Max1280_dec10pc_07{ width:070%;}
	.wtdhMin1025Max1280_dec10pc_08{ width:080%;}
	.wtdhMin1025Max1280_dec10pc_09{ width:090%;}
	.wtdhMin1025Max1280_dec10pc_10{ width:100%;}
	
	.wtdhMin1025Max1280_dec10vw_01{ width:010vw;}
	.wtdhMin1025Max1280_dec10vw_02{ width:020vw;}
	.wtdhMin1025Max1280_dec10vw_03{ width:030vw;}
	.wtdhMin1025Max1280_dec10vw_04{ width:040vw;}
	.wtdhMin1025Max1280_dec10vw_05{ width:050vw;}
	.wtdhMin1025Max1280_dec10vw_06{ width:060vw;}
	.wtdhMin1025Max1280_dec10vw_07{ width:070vw;}
	.wtdhMin1025Max1280_dec10vw_08{ width:080vw;}
	.wtdhMin1025Max1280_dec10vw_09{ width:090vw;}
	.wtdhMin1025Max1280_dec10vw_10{ width:100vw;}
}
@media (min-width: 1281px) and (max-width: 1420px){ 
	.wtdhMin1281Max1420_dec10pc_01{ width:010%;}
	.wtdhMin1281Max1420_dec10pc_02{ width:020%;}
	.wtdhMin1281Max1420_dec10pc_03{ width:030%;}
	.wtdhMin1281Max1420_dec10pc_04{ width:040%;}
	.wtdhMin1281Max1420_dec10pc_05{ width:050%;}
	.wtdhMin1281Max1420_dec10pc_06{ width:060%;}
	.wtdhMin1281Max1420_dec10pc_07{ width:070%;}
	.wtdhMin1281Max1420_dec10pc_08{ width:080%;}
	.wtdhMin1281Max1420_dec10pc_09{ width:090%;}
	.wtdhMin1281Max1420_dec10pc_10{ width:100%;}
	
	.wtdhMin1281Max1420_dec10vw_01{ width:010vw;}
	.wtdhMin1281Max1420_dec10vw_02{ width:020vw;}
	.wtdhMin1281Max1420_dec10vw_03{ width:030vw;}
	.wtdhMin1281Max1420_dec10vw_04{ width:040vw;}
	.wtdhMin1281Max1420_dec10vw_05{ width:050vw;}
	.wtdhMin1281Max1420_dec10vw_06{ width:060vw;}
	.wtdhMin1281Max1420_dec10vw_07{ width:070vw;}
	.wtdhMin1281Max1420_dec10vw_08{ width:080vw;}
	.wtdhMin1281Max1420_dec10vw_09{ width:090vw;}
	.wtdhMin1281Max1420_dec10vw_10{ width:100vw;}
}
@media (min-width: 1421px) and (max-width: 1920px){ 
	.wtdhMin1421Max1920_dec10pc_01{ width:010%;}
	.wtdhMin1421Max1920_dec10pc_02{ width:020%;}
	.wtdhMin1421Max1920_dec10pc_03{ width:030%;}
	.wtdhMin1421Max1920_dec10pc_04{ width:040%;}
	.wtdhMin1421Max1920_dec10pc_05{ width:050%;}
	.wtdhMin1421Max1920_dec10pc_06{ width:060%;}
	.wtdhMin1421Max1920_dec10pc_07{ width:070%;}
	.wtdhMin1421Max1920_dec10pc_08{ width:080%;}
	.wtdhMin1421Max1920_dec10pc_09{ width:090%;}
	.wtdhMin1421Max1920_dec10pc_10{ width:100%;}
	
	.wtdhMin1421Max1920_dec10vw_01{ width:010vw;}
	.wtdhMin1421Max1920_dec10vw_02{ width:020vw;}
	.wtdhMin1421Max1920_dec10vw_03{ width:030vw;}
	.wtdhMin1421Max1920_dec10vw_04{ width:040vw;}
	.wtdhMin1421Max1920_dec10vw_05{ width:050vw;}
	.wtdhMin1421Max1920_dec10vw_06{ width:060vw;}
	.wtdhMin1421Max1920_dec10vw_07{ width:070vw;}
	.wtdhMin1421Max1920_dec10vw_08{ width:080vw;}
	.wtdhMin1421Max1920_dec10vw_09{ width:090vw;}
	.wtdhMin1421Max1920_dec10vw_10{ width:100vw;}
}
@media (min-width: 1921px){
	.wtdhMin1921_dec10pc_01{ width:010%;}
	.wtdhMin1921_dec10pc_02{ width:020%;}
	.wtdhMin1921_dec10pc_03{ width:030%;}
	.wtdhMin1921_dec10pc_04{ width:040%;}
	.wtdhMin1921_dec10pc_05{ width:050%;}
	.wtdhMin1921_dec10pc_06{ width:060%;}
	.wtdhMin1921_dec10pc_07{ width:070%;}
	.wtdhMin1921_dec10pc_08{ width:080%;}
	.wtdhMin1921_dec10pc_09{ width:090%;}
	.wtdhMin1921_dec10pc_10{ width:100%;}

	.wtdhMin1921_dec10vw_01{ width:010vw;}
	.wtdhMin1921_dec10vw_02{ width:020vw;}
	.wtdhMin1921_dec10vw_03{ width:030vw;}
	.wtdhMin1921_dec10vw_04{ width:040vw;}
	.wtdhMin1921_dec10vw_05{ width:050vw;}
	.wtdhMin1921_dec10vw_06{ width:060vw;}
	.wtdhMin1921_dec10vw_07{ width:070vw;}
	.wtdhMin1921_dec10vw_08{ width:080vw;}
	.wtdhMin1921_dec10vw_09{ width:090vw;}
	.wtdhMin1921_dec10vw_10{ width:100vw;}
}