@charset "utf-8";

.hghtGeneral_dec10pc_01{ height:010%;}
.hghtGeneral_dec10pc_02{ height:020%;}
.hghtGeneral_dec10pc_03{ height:030%;}
.hghtGeneral_dec10pc_04{ height:040%;}
.hghtGeneral_dec10pc_05{ height:050%;}
.hghtGeneral_dec10pc_06{ height:060%;}
.hghtGeneral_dec10pc_07{ height:070%;}
.hghtGeneral_dec10pc_08{ height:080%;}
.hghtGeneral_dec10pc_09{ height:090%;}
.hghtGeneral_dec10pc_10{ height:100%;}

.hghtGeneral_dec10vw_01{ height:010vh;}
.hghtGeneral_dec10vw_02{ height:020vh;}
.hghtGeneral_dec10vw_03{ height:030vh;}
.hghtGeneral_dec10vw_04{ height:040vh;}
.hghtGeneral_dec10vw_05{ height:050vh;}
.hghtGeneral_dec10vw_06{ height:060vh;}
.hghtGeneral_dec10vw_07{ height:070vh;}
.hghtGeneral_dec10vw_08{ height:080vh;}
.hghtGeneral_dec10vw_09{ height:090vh;}
.hghtGeneral_dec10vw_10{ height:100vh;}

@media (max-height: 320px){
	.hghtMax320_dec10pc_01{ height:010%;}
	.hghtMax320_dec10pc_02{ height:020%;}
	.hghtMax320_dec10pc_03{ height:030%;}
	.hghtMax320_dec10pc_04{ height:040%;}
	.hghtMax320_dec10pc_05{ height:050%;}
	.hghtMax320_dec10pc_06{ height:060%;}
	.hghtMax320_dec10pc_07{ height:070%;}
	.hghtMax320_dec10pc_08{ height:080%;}
	.hghtMax320_dec10pc_09{ height:090%;}
	.hghtMax320_dec10pc_10{ height:100%;}
	
	.hghtMax320_dec10vw_01{ height:010vh;}
	.hghtMax320_dec10vw_02{ height:020vh;}
	.hghtMax320_dec10vw_03{ height:030vh;}
	.hghtMax320_dec10vw_04{ height:040vh;}
	.hghtMax320_dec10vw_05{ height:050vh;}
	.hghtMax320_dec10vw_06{ height:060vh;}
	.hghtMax320_dec10vw_07{ height:070vh;}
	.hghtMax320_dec10vw_08{ height:080vh;}
	.hghtMax320_dec10vw_09{ height:090vh;}
	.hghtMax320_dec10vw_10{ height:100vh;}
}
@media (min-height: 321px) and (max-height: 480px){		
	.hghtMin320Max480_dec10pc_01{ height:010%;}
	.hghtMin320Max480_dec10pc_02{ height:020%;}
	.hghtMin320Max480_dec10pc_03{ height:030%;}
	.hghtMin320Max480_dec10pc_04{ height:040%;}
	.hghtMin320Max480_dec10pc_05{ height:050%;}
	.hghtMin320Max480_dec10pc_06{ height:060%;}
	.hghtMin320Max480_dec10pc_07{ height:070%;}
	.hghtMin320Max480_dec10pc_08{ height:080%;}
	.hghtMin320Max480_dec10pc_09{ height:090%;}
	.hghtMin320Max480_dec10pc_10{ height:100%;}

	.hghtMin320Max480_dec10vw_01{ height:010vh;}
	.hghtMin320Max480_dec10vw_02{ height:020vh;}
	.hghtMin320Max480_dec10vw_03{ height:030vh;}
	.hghtMin320Max480_dec10vw_04{ height:040vh;}
	.hghtMin320Max480_dec10vw_05{ height:050vh;}
	.hghtMin320Max480_dec10vw_06{ height:060vh;}
	.hghtMin320Max480_dec10vw_07{ height:070vh;}
	.hghtMin320Max480_dec10vw_08{ height:080vh;}
	.hghtMin320Max480_dec10vw_09{ height:090vh;}
	.hghtMin320Max480_dec10vw_10{ height:100vh;}
}
@media (min-height: 481px) and (max-height: 600px){
	.hghtMin481Max600_dec10pc_01{ height:010%;}
	.hghtMin481Max600_dec10pc_02{ height:020%;}
	.hghtMin481Max600_dec10pc_03{ height:030%;}
	.hghtMin481Max600_dec10pc_04{ height:040%;}
	.hghtMin481Max600_dec10pc_05{ height:050%;}
	.hghtMin481Max600_dec10pc_06{ height:060%;}
	.hghtMin481Max600_dec10pc_07{ height:070%;}
	.hghtMin481Max600_dec10pc_08{ height:080%;}
	.hghtMin481Max600_dec10pc_09{ height:090%;}
	.hghtMin481Max600_dec10pc_10{ height:100%;}
	
	.hghtMin481Max600_dec10vw_01{ height:010vh;}
	.hghtMin481Max600_dec10vw_02{ height:020vh;}
	.hghtMin481Max600_dec10vw_03{ height:030vh;}
	.hghtMin481Max600_dec10vw_04{ height:040vh;}
	.hghtMin481Max600_dec10vw_05{ height:050vh;}
	.hghtMin481Max600_dec10vw_06{ height:060vh;}
	.hghtMin481Max600_dec10vw_07{ height:070vh;}
	.hghtMin481Max600_dec10vw_08{ height:080vh;}
	.hghtMin481Max600_dec10vw_09{ height:090vh;}
	.hghtMin481Max600_dec10vw_10{ height:100vh;}
}
@media (min-height: 601px) and (max-height: 800px){ 
	.hghtMin601Max800_dec10pc_01{ height:010%;}
	.hghtMin601Max800_dec10pc_02{ height:020%;}
	.hghtMin601Max800_dec10pc_03{ height:030%;}
	.hghtMin601Max800_dec10pc_04{ height:040%;}
	.hghtMin601Max800_dec10pc_05{ height:050%;}
	.hghtMin601Max800_dec10pc_06{ height:060%;}
	.hghtMin601Max800_dec10pc_07{ height:070%;}
	.hghtMin601Max800_dec10pc_08{ height:080%;}
	.hghtMin601Max800_dec10pc_09{ height:090%;}
	.hghtMin601Max800_dec10pc_10{ height:100%;}
	
	.hghtMin601Max800_dec10vw_01{ height:010vh;}
	.hghtMin601Max800_dec10vw_02{ height:020vh;}
	.hghtMin601Max800_dec10vw_03{ height:030vh;}
	.hghtMin601Max800_dec10vw_04{ height:040vh;}
	.hghtMin601Max800_dec10vw_05{ height:050vh;}
	.hghtMin601Max800_dec10vw_06{ height:060vh;}
	.hghtMin601Max800_dec10vw_07{ height:070vh;}
	.hghtMin601Max800_dec10vw_08{ height:080vh;}
	.hghtMin601Max800_dec10vw_09{ height:090vh;}
	.hghtMin601Max800_dec10vw_10{ height:100vh;}
}
@media (min-height: 801px) and (max-height: 1024px){ 
	.hghtMin801Max1024_dec10pc_01{ height:010%;}
	.hghtMin801Max1024_dec10pc_02{ height:020%;}
	.hghtMin801Max1024_dec10pc_03{ height:030%;}
	.hghtMin801Max1024_dec10pc_04{ height:040%;}
	.hghtMin801Max1024_dec10pc_05{ height:050%;}
	.hghtMin801Max1024_dec10pc_06{ height:060%;}
	.hghtMin801Max1024_dec10pc_07{ height:070%;}
	.hghtMin801Max1024_dec10pc_08{ height:080%;}
	.hghtMin801Max1024_dec10pc_09{ height:090%;}
	.hghtMin801Max1024_dec10pc_10{ height:100%;}
	
	.hghtMin801Max1024_dec10vw_01{ height:010vh;}
	.hghtMin801Max1024_dec10vw_02{ height:020vh;}
	.hghtMin801Max1024_dec10vw_03{ height:030vh;}
	.hghtMin801Max1024_dec10vw_04{ height:040vh;}
	.hghtMin801Max1024_dec10vw_05{ height:050vh;}
	.hghtMin801Max1024_dec10vw_06{ height:060vh;}
	.hghtMin801Max1024_dec10vw_07{ height:070vh;}
	.hghtMin801Max1024_dec10vw_08{ height:080vh;}
	.hghtMin801Max1024_dec10vw_09{ height:090vh;}
	.hghtMin801Max1024_dec10vw_10{ height:100vh;}	
}
@media (min-height: 1025px) and (max-height: 1280px){
	.hghtMin1025Max1280_dec10pc_01{ height:010%;}
	.hghtMin1025Max1280_dec10pc_02{ height:020%;}
	.hghtMin1025Max1280_dec10pc_03{ height:030%;}
	.hghtMin1025Max1280_dec10pc_04{ height:040%;}
	.hghtMin1025Max1280_dec10pc_05{ height:050%;}
	.hghtMin1025Max1280_dec10pc_06{ height:060%;}
	.hghtMin1025Max1280_dec10pc_07{ height:070%;}
	.hghtMin1025Max1280_dec10pc_08{ height:080%;}
	.hghtMin1025Max1280_dec10pc_09{ height:090%;}
	.hghtMin1025Max1280_dec10pc_10{ height:100%;}
	
	.hghtMin1025Max1280_dec10vw_01{ height:010vh;}
	.hghtMin1025Max1280_dec10vw_02{ height:020vh;}
	.hghtMin1025Max1280_dec10vw_03{ height:030vh;}
	.hghtMin1025Max1280_dec10vw_04{ height:040vh;}
	.hghtMin1025Max1280_dec10vw_05{ height:050vh;}
	.hghtMin1025Max1280_dec10vw_06{ height:060vh;}
	.hghtMin1025Max1280_dec10vw_07{ height:070vh;}
	.hghtMin1025Max1280_dec10vw_08{ height:080vh;}
	.hghtMin1025Max1280_dec10vw_09{ height:090vh;}
	.hghtMin1025Max1280_dec10vw_10{ height:100vh;}
}
@media (min-height: 1281px) and (max-height: 1420px){
	.hghtMin1281Max1420_dec10pc_01{ height:010%;}
	.hghtMin1281Max1420_dec10pc_02{ height:020%;}
	.hghtMin1281Max1420_dec10pc_03{ height:030%;}
	.hghtMin1281Max1420_dec10pc_04{ height:040%;}
	.hghtMin1281Max1420_dec10pc_05{ height:050%;}
	.hghtMin1281Max1420_dec10pc_06{ height:060%;}
	.hghtMin1281Max1420_dec10pc_07{ height:070%;}
	.hghtMin1281Max1420_dec10pc_08{ height:080%;}
	.hghtMin1281Max1420_dec10pc_09{ height:090%;}
	.hghtMin1281Max1420_dec10pc_10{ height:100%;}
	
	.hghtMin1281Max1420_dec10vw_01{ height:010vh;}
	.hghtMin1281Max1420_dec10vw_02{ height:020vh;}
	.hghtMin1281Max1420_dec10vw_03{ height:030vh;}
	.hghtMin1281Max1420_dec10vw_04{ height:040vh;}
	.hghtMin1281Max1420_dec10vw_05{ height:050vh;}
	.hghtMin1281Max1420_dec10vw_06{ height:060vh;}
	.hghtMin1281Max1420_dec10vw_07{ height:070vh;}
	.hghtMin1281Max1420_dec10vw_08{ height:080vh;}
	.hghtMin1281Max1420_dec10vw_09{ height:090vh;}
	.hghtMin1281Max1420_dec10vw_10{ height:100vh;}	
}
@media (min-height: 1421px) and (max-height: 1920px){
	.hghtMin1421Max1920_dec10pc_01{ height:010%;}
	.hghtMin1421Max1920_dec10pc_02{ height:020%;}
	.hghtMin1421Max1920_dec10pc_03{ height:030%;}
	.hghtMin1421Max1920_dec10pc_04{ height:040%;}
	.hghtMin1421Max1920_dec10pc_05{ height:050%;}
	.hghtMin1421Max1920_dec10pc_06{ height:060%;}
	.hghtMin1421Max1920_dec10pc_07{ height:070%;}
	.hghtMin1421Max1920_dec10pc_08{ height:080%;}
	.hghtMin1421Max1920_dec10pc_09{ height:090%;}
	.hghtMin1421Max1920_dec10pc_10{ height:100%;}
	
	.hghtMin1421Max1920_dec10vw_01{ height:010vh;}
	.hghtMin1421Max1920_dec10vw_02{ height:020vh;}
	.hghtMin1421Max1920_dec10vw_03{ height:030vh;}
	.hghtMin1421Max1920_dec10vw_04{ height:040vh;}
	.hghtMin1421Max1920_dec10vw_05{ height:050vh;}
	.hghtMin1421Max1920_dec10vw_06{ height:060vh;}
	.hghtMin1421Max1920_dec10vw_07{ height:070vh;}
	.hghtMin1421Max1920_dec10vw_08{ height:080vh;}
	.hghtMin1421Max1920_dec10vw_09{ height:090vh;}
	.hghtMin1421Max1920_dec10vw_10{ height:100vh;}
}
@media (min-height: 1921px){
	.hghtMin1921_dec10pc_01{ height:010%;}
	.hghtMin1921_dec10pc_02{ height:020%;}
	.hghtMin1921_dec10pc_03{ height:030%;}
	.hghtMin1921_dec10pc_04{ height:040%;}
	.hghtMin1921_dec10pc_05{ height:050%;}
	.hghtMin1921_dec10pc_06{ height:060%;}
	.hghtMin1921_dec10pc_07{ height:070%;}
	.hghtMin1921_dec10pc_08{ height:080%;}
	.hghtMin1921_dec10pc_09{ height:090%;}
	.hghtMin1921_dec10pc_10{ height:100%;}
	
	.hghtMin1921_dec10vw_01{ height:010vh;}
	.hghtMin1921_dec10vw_02{ height:020vh;}
	.hghtMin1921_dec10vw_03{ height:030vh;}
	.hghtMin1921_dec10vw_04{ height:040vh;}
	.hghtMin1921_dec10vw_05{ height:050vh;}
	.hghtMin1921_dec10vw_06{ height:060vh;}
	.hghtMin1921_dec10vw_07{ height:070vh;}
	.hghtMin1921_dec10vw_08{ height:080vh;}
	.hghtMin1921_dec10vw_09{ height:090vh;}
	.hghtMin1921_dec10vw_10{ height:100vh;}
}