@charset "utf-8";

.hghtGeneral_fib55pc_01{ height:002%;}
.hghtGeneral_fib55pc_02{ height:004%;}
.hghtGeneral_fib55pc_03{ height:005%;}
.hghtGeneral_fib55pc_05{ height:009%;}
.hghtGeneral_fib55pc_08{ height:015%;}
.hghtGeneral_fib55pc_13{ height:024%;}
.hghtGeneral_fib55pc_21{ height:038%;}
.hghtGeneral_fib55pc_34{ height:062%;}
.hghtGeneral_fib55pc_55{ height:100%;}

.hghtGeneral_fib55vw_01{ height:002vh;}
.hghtGeneral_fib55vw_02{ height:004vh;}
.hghtGeneral_fib55vw_03{ height:005vh;}
.hghtGeneral_fib55vw_05{ height:009vh;}
.hghtGeneral_fib55vw_08{ height:015vh;}
.hghtGeneral_fib55vw_13{ height:024vh;}
.hghtGeneral_fib55vw_21{ height:038vh;}
.hghtGeneral_fib55vw_34{ height:062vh;}
.hghtGeneral_fib55vw_55{ height:100vh;}

@media (max-height: 320px){
	.hghtMax320_fib55pc_01{ height:002%;}
	.hghtMax320_fib55pc_02{ height:004%;}
	.hghtMax320_fib55pc_03{ height:005%;}
	.hghtMax320_fib55pc_05{ height:009%;}
	.hghtMax320_fib55pc_08{ height:015%;}
	.hghtMax320_fib55pc_13{ height:024%;}
	.hghtMax320_fib55pc_21{ height:038%;}
	.hghtMax320_fib55pc_34{ height:062%;}
	.hghtMax320_fib55pc_55{ height:100%;}
	
	.hghtMax320_fib55vw_01{ height:002vh;}
	.hghtMax320_fib55vw_02{ height:004vh;}
	.hghtMax320_fib55vw_03{ height:005vh;}
	.hghtMax320_fib55vw_05{ height:009vh;}
	.hghtMax320_fib55vw_08{ height:015vh;}
	.hghtMax320_fib55vw_13{ height:024vh;}
	.hghtMax320_fib55vw_21{ height:038vh;}
	.hghtMax320_fib55vw_34{ height:062vh;}
	.hghtMax320_fib55vw_55{ height:100vh;}
}
@media (min-height: 321px) and (max-height: 480px){		
	.hghtMin320Max480_fib55pc_01{ height:002%;}
	.hghtMin320Max480_fib55pc_02{ height:004%;}
	.hghtMin320Max480_fib55pc_03{ height:005%;}
	.hghtMin320Max480_fib55pc_05{ height:009%;}
	.hghtMin320Max480_fib55pc_08{ height:015%;}
	.hghtMin320Max480_fib55pc_13{ height:024%;}
	.hghtMin320Max480_fib55pc_21{ height:038%;}
	.hghtMin320Max480_fib55pc_34{ height:062%;}
	.hghtMin320Max480_fib55pc_55{ height:100%;}

	.hghtMin320Max480_fib55vw_01{ height:002vh;}
	.hghtMin320Max480_fib55vw_02{ height:004vh;}
	.hghtMin320Max480_fib55vw_03{ height:005vh;}
	.hghtMin320Max480_fib55vw_05{ height:009vh;}
	.hghtMin320Max480_fib55vw_08{ height:015vh;}
	.hghtMin320Max480_fib55vw_13{ height:024vh;}
	.hghtMin320Max480_fib55vw_21{ height:038vh;}
	.hghtMin320Max480_fib55vw_34{ height:062vh;}
	.hghtMin320Max480_fib55vw_55{ height:100vh;}
}
@media (min-height: 481px) and (max-height: 600px){
	.hghtMin481Max600_fib55pc_01{ height:002%;}
	.hghtMin481Max600_fib55pc_02{ height:004%;}
	.hghtMin481Max600_fib55pc_03{ height:005%;}
	.hghtMin481Max600_fib55pc_05{ height:009%;}
	.hghtMin481Max600_fib55pc_08{ height:015%;}
	.hghtMin481Max600_fib55pc_13{ height:024%;}
	.hghtMin481Max600_fib55pc_21{ height:038%;}
	.hghtMin481Max600_fib55pc_34{ height:062%;}
	.hghtMin481Max600_fib55pc_55{ height:100%;}
	
	.hghtMin481Max600_fib55vw_01{ height:002vh;}
	.hghtMin481Max600_fib55vw_02{ height:004vh;}
	.hghtMin481Max600_fib55vw_03{ height:005vh;}
	.hghtMin481Max600_fib55vw_05{ height:009vh;}
	.hghtMin481Max600_fib55vw_08{ height:015vh;}
	.hghtMin481Max600_fib55vw_13{ height:024vh;}
	.hghtMin481Max600_fib55vw_21{ height:038vh;}
	.hghtMin481Max600_fib55vw_34{ height:062vh;}
	.hghtMin481Max600_fib55vw_55{ height:100vh;}
}
@media (min-height: 601px) and (max-height: 800px){ 
	.hghtMin601Max800_fib55pc_01{ height:002%;}
	.hghtMin601Max800_fib55pc_02{ height:004%;}
	.hghtMin601Max800_fib55pc_03{ height:005%;}
	.hghtMin601Max800_fib55pc_05{ height:009%;}
	.hghtMin601Max800_fib55pc_08{ height:015%;}
	.hghtMin601Max800_fib55pc_13{ height:024%;}
	.hghtMin601Max800_fib55pc_21{ height:038%;}
	.hghtMin601Max800_fib55pc_34{ height:062%;}
	.hghtMin601Max800_fib55pc_55{ height:100%;}
	
	.hghtMin601Max800_fib55vw_01{ height:002vh;}
	.hghtMin601Max800_fib55vw_02{ height:004vh;}
	.hghtMin601Max800_fib55vw_03{ height:005vh;}
	.hghtMin601Max800_fib55vw_05{ height:009vh;}
	.hghtMin601Max800_fib55vw_08{ height:015vh;}
	.hghtMin601Max800_fib55vw_13{ height:024vh;}
	.hghtMin601Max800_fib55vw_21{ height:038vh;}
	.hghtMin601Max800_fib55vw_34{ height:062vh;}
	.hghtMin601Max800_fib55vw_55{ height:100vh;}	
}
@media (min-height: 801px) and (max-height: 1024px){ 
	.hghtMin801Max1024_fib55pc_01{ height:002%;}
	.hghtMin801Max1024_fib55pc_02{ height:004%;}
	.hghtMin801Max1024_fib55pc_03{ height:005%;}
	.hghtMin801Max1024_fib55pc_05{ height:009%;}
	.hghtMin801Max1024_fib55pc_08{ height:015%;}
	.hghtMin801Max1024_fib55pc_13{ height:024%;}
	.hghtMin801Max1024_fib55pc_21{ height:038%;}
	.hghtMin801Max1024_fib55pc_34{ height:062%;}
	.hghtMin801Max1024_fib55pc_55{ height:100%;}
	
	.hghtMin801Max1024_fib55vw_01{ height:002vh;}
	.hghtMin801Max1024_fib55vw_02{ height:004vh;}
	.hghtMin801Max1024_fib55vw_03{ height:005vh;}
	.hghtMin801Max1024_fib55vw_05{ height:009vh;}
	.hghtMin801Max1024_fib55vw_08{ height:015vh;}
	.hghtMin801Max1024_fib55vw_13{ height:024vh;}
	.hghtMin801Max1024_fib55vw_21{ height:038vh;}
	.hghtMin801Max1024_fib55vw_34{ height:062vh;}
	.hghtMin801Max1024_fib55vw_55{ height:100vh;}
}
@media (min-height: 1025px) and (max-height: 1280px){
	.hghtMin1025Max1280_fib55pc_01{ height:002%;}
	.hghtMin1025Max1280_fib55pc_02{ height:004%;}
	.hghtMin1025Max1280_fib55pc_03{ height:005%;}
	.hghtMin1025Max1280_fib55pc_05{ height:009%;}
	.hghtMin1025Max1280_fib55pc_08{ height:015%;}
	.hghtMin1025Max1280_fib55pc_13{ height:024%;}
	.hghtMin1025Max1280_fib55pc_21{ height:038%;}
	.hghtMin1025Max1280_fib55pc_34{ height:062%;}
	.hghtMin1025Max1280_fib55pc_55{ height:100%;}
	
	.hghtMin1025Max1280_fib55vw_01{ height:002vh;}
	.hghtMin1025Max1280_fib55vw_02{ height:004vh;}
	.hghtMin1025Max1280_fib55vw_03{ height:005vh;}
	.hghtMin1025Max1280_fib55vw_05{ height:009vh;}
	.hghtMin1025Max1280_fib55vw_08{ height:015vh;}
	.hghtMin1025Max1280_fib55vw_13{ height:024vh;}
	.hghtMin1025Max1280_fib55vw_21{ height:038vh;}
	.hghtMin1025Max1280_fib55vw_34{ height:062vh;}
	.hghtMin1025Max1280_fib55vw_55{ height:100vh;}
}
@media (min-height: 1281px) and (max-height: 1420px){
	.hghtMin1281Max1420_fib55pc_01{ height:002%;}
	.hghtMin1281Max1420_fib55pc_02{ height:004%;}
	.hghtMin1281Max1420_fib55pc_03{ height:005%;}
	.hghtMin1281Max1420_fib55pc_05{ height:009%;}
	.hghtMin1281Max1420_fib55pc_08{ height:015%;}
	.hghtMin1281Max1420_fib55pc_13{ height:024%;}
	.hghtMin1281Max1420_fib55pc_21{ height:038%;}
	.hghtMin1281Max1420_fib55pc_34{ height:062%;}
	.hghtMin1281Max1420_fib55pc_55{ height:100%;}
	
	.hghtMin1281Max1420_fib55vw_01{ height:002vh;}
	.hghtMin1281Max1420_fib55vw_02{ height:004vh;}
	.hghtMin1281Max1420_fib55vw_03{ height:005vh;}
	.hghtMin1281Max1420_fib55vw_05{ height:009vh;}
	.hghtMin1281Max1420_fib55vw_08{ height:015vh;}
	.hghtMin1281Max1420_fib55vw_13{ height:024vh;}
	.hghtMin1281Max1420_fib55vw_21{ height:038vh;}
	.hghtMin1281Max1420_fib55vw_34{ height:062vh;}
	.hghtMin1281Max1420_fib55vw_55{ height:100vh;}
}
@media (min-height: 1421px) and (max-height: 1920px){	
	.hghtMin1421Max1920_fib55pc_01{ height:002%;}
	.hghtMin1421Max1920_fib55pc_02{ height:004%;}
	.hghtMin1421Max1920_fib55pc_03{ height:005%;}
	.hghtMin1421Max1920_fib55pc_05{ height:009%;}
	.hghtMin1421Max1920_fib55pc_08{ height:015%;}
	.hghtMin1421Max1920_fib55pc_13{ height:024%;}
	.hghtMin1421Max1920_fib55pc_21{ height:038%;}
	.hghtMin1421Max1920_fib55pc_34{ height:062%;}
	.hghtMin1421Max1920_fib55pc_55{ height:100%;}
	
	.hghtMin1421Max1920_fib55vw_01{ height:002vh;}
	.hghtMin1421Max1920_fib55vw_02{ height:004vh;}
	.hghtMin1421Max1920_fib55vw_03{ height:005vh;}
	.hghtMin1421Max1920_fib55vw_05{ height:009vh;}
	.hghtMin1421Max1920_fib55vw_08{ height:015vh;}
	.hghtMin1421Max1920_fib55vw_13{ height:024vh;}
	.hghtMin1421Max1920_fib55vw_21{ height:038vh;}
	.hghtMin1421Max1920_fib55vw_34{ height:062vh;}
	.hghtMin1421Max1920_fib55vw_55{ height:100vh;}
}
@media (min-height: 1921px){	
	.hghtMin1921_fib55pc_01{ height:002%;}
	.hghtMin1921_fib55pc_02{ height:004%;}
	.hghtMin1921_fib55pc_03{ height:005%;}
	.hghtMin1921_fib55pc_05{ height:009%;}
	.hghtMin1921_fib55pc_08{ height:015%;}
	.hghtMin1921_fib55pc_13{ height:024%;}
	.hghtMin1921_fib55pc_21{ height:038%;}
	.hghtMin1921_fib55pc_34{ height:062%;}
	.hghtMin1921_fib55pc_55{ height:100%;}
	
	.hghtMin1921_fib55vw_01{ height:002vh;}
	.hghtMin1921_fib55vw_02{ height:004vh;}
	.hghtMin1921_fib55vw_03{ height:005vh;}
	.hghtMin1921_fib55vw_05{ height:009vh;}
	.hghtMin1921_fib55vw_08{ height:015vh;}
	.hghtMin1921_fib55vw_13{ height:024vh;}
	.hghtMin1921_fib55vw_21{ height:038vh;}
	.hghtMin1921_fib55vw_34{ height:062vh;}
	.hghtMin1921_fib55vw_55{ height:100vh;}
}