@charset "utf-8";

.hghtGeneral_duz24pc_01{ height:004.17%;}
.hghtGeneral_duz24pc_02{ height:008.33%;}
.hghtGeneral_duz24pc_03{ height:012.50%;}
.hghtGeneral_duz24pc_04{ height:016.67%;}
.hghtGeneral_duz24pc_05{ height:020.83%;}
.hghtGeneral_duz24pc_06{ height:025.00%;}
.hghtGeneral_duz24pc_07{ height:029.17%;}
.hghtGeneral_duz24pc_08{ height:033.33%;}
.hghtGeneral_duz24pc_09{ height:037.50%;}
.hghtGeneral_duz24pc_10{ height:041.67%;}
.hghtGeneral_duz24pc_11{ height:045.83%;}
.hghtGeneral_duz24pc_12{ height:050.00%;}
.hghtGeneral_duz24pc_13{ height:054.17%;}
.hghtGeneral_duz24pc_14{ height:058.33%;}
.hghtGeneral_duz24pc_15{ height:062.50%;}
.hghtGeneral_duz24pc_16{ height:066.67%;}
.hghtGeneral_duz24pc_17{ height:070.83%;}
.hghtGeneral_duz24pc_18{ height:075.00%;}
.hghtGeneral_duz24pc_19{ height:079.17%;}
.hghtGeneral_duz24pc_20{ height:083.33%;}
.hghtGeneral_duz24pc_21{ height:087.50%;}
.hghtGeneral_duz24pc_22{ height:091.67%;}
.hghtGeneral_duz24pc_23{ height:095.83%;}
.hghtGeneral_duz24pc_24{ height:100.00%;}

.hghtGeneral_duz24vw_01{ height:004.17vh;}
.hghtGeneral_duz24vw_02{ height:008.33vh;}
.hghtGeneral_duz24vw_03{ height:012.50vh;}
.hghtGeneral_duz24vw_04{ height:016.67vh;}
.hghtGeneral_duz24vw_05{ height:020.83vh;}
.hghtGeneral_duz24vw_06{ height:025.00vh;}
.hghtGeneral_duz24vw_07{ height:029.17vh;}
.hghtGeneral_duz24vw_08{ height:033.33vh;}
.hghtGeneral_duz24vw_09{ height:037.50vh;}
.hghtGeneral_duz24vw_10{ height:041.67vh;}
.hghtGeneral_duz24vw_11{ height:045.83vh;}
.hghtGeneral_duz24vw_12{ height:050.00vh;}
.hghtGeneral_duz24vw_13{ height:054.17vh;}
.hghtGeneral_duz24vw_14{ height:058.33vh;}
.hghtGeneral_duz24vw_15{ height:062.50vh;}
.hghtGeneral_duz24vw_16{ height:066.67vh;}
.hghtGeneral_duz24vw_17{ height:070.83vh;}
.hghtGeneral_duz24vw_18{ height:075.00vh;}
.hghtGeneral_duz24vw_19{ height:079.17vh;}
.hghtGeneral_duz24vw_20{ height:083.33vh;}
.hghtGeneral_duz24vw_21{ height:087.50vh;}
.hghtGeneral_duz24vw_22{ height:091.67vh;}
.hghtGeneral_duz24vw_23{ height:095.83vh;}
.hghtGeneral_duz24vw_24{ height:100.00vh;}

@media (max-height: 320px){
	.hghtMax320_duz24pc_01{ height:004.17%;}
	.hghtMax320_duz24pc_02{ height:008.33%;}
	.hghtMax320_duz24pc_03{ height:012.50%;}
	.hghtMax320_duz24pc_04{ height:016.67%;}
	.hghtMax320_duz24pc_05{ height:020.83%;}
	.hghtMax320_duz24pc_06{ height:025.00%;}
	.hghtMax320_duz24pc_07{ height:029.17%;}
	.hghtMax320_duz24pc_08{ height:033.33%;}
	.hghtMax320_duz24pc_09{ height:037.50%;}
	.hghtMax320_duz24pc_10{ height:041.67%;}
	.hghtMax320_duz24pc_11{ height:045.83%;}
	.hghtMax320_duz24pc_12{ height:050.00%;}
	.hghtMax320_duz24pc_13{ height:054.17%;}
	.hghtMax320_duz24pc_14{ height:058.33%;}
	.hghtMax320_duz24pc_15{ height:062.50%;}
	.hghtMax320_duz24pc_16{ height:066.67%;}
	.hghtMax320_duz24pc_17{ height:070.83%;}
	.hghtMax320_duz24pc_18{ height:075.00%;}
	.hghtMax320_duz24pc_19{ height:079.17%;}
	.hghtMax320_duz24pc_20{ height:083.33%;}
	.hghtMax320_duz24pc_21{ height:087.50%;}
	.hghtMax320_duz24pc_22{ height:091.67%;}
	.hghtMax320_duz24pc_23{ height:095.83%;}
	.hghtMax320_duz24pc_24{ height:100.00%;}
	
	.hghtMax320_duz24vw_01{ height:004.17vh;}
	.hghtMax320_duz24vw_02{ height:008.33vh;}
	.hghtMax320_duz24vw_03{ height:012.50vh;}
	.hghtMax320_duz24vw_04{ height:016.67vh;}
	.hghtMax320_duz24vw_05{ height:020.83vh;}
	.hghtMax320_duz24vw_06{ height:025.00vh;}
	.hghtMax320_duz24vw_07{ height:029.17vh;}
	.hghtMax320_duz24vw_08{ height:033.33vh;}
	.hghtMax320_duz24vw_09{ height:037.50vh;}
	.hghtMax320_duz24vw_10{ height:041.67vh;}
	.hghtMax320_duz24vw_11{ height:045.83vh;}
	.hghtMax320_duz24vw_12{ height:050.00vh;}
	.hghtMax320_duz24vw_13{ height:054.17vh;}
	.hghtMax320_duz24vw_14{ height:058.33vh;}
	.hghtMax320_duz24vw_15{ height:062.50vh;}
	.hghtMax320_duz24vw_16{ height:066.67vh;}
	.hghtMax320_duz24vw_17{ height:070.83vh;}
	.hghtMax320_duz24vw_18{ height:075.00vh;}
	.hghtMax320_duz24vw_19{ height:079.17vh;}
	.hghtMax320_duz24vw_20{ height:083.33vh;}
	.hghtMax320_duz24vw_21{ height:087.50vh;}
	.hghtMax320_duz24vw_22{ height:091.67vh;}
	.hghtMax320_duz24vw_23{ height:095.83vh;}
	.hghtMax320_duz24vw_24{ height:100.00vh;}
}
@media (min-height: 321px) and (max-height: 480px){		
	.hghtMin320Max480_duz24pc_01{ height:004.17%;}
	.hghtMin320Max480_duz24pc_02{ height:008.33%;}
	.hghtMin320Max480_duz24pc_03{ height:012.50%;}
	.hghtMin320Max480_duz24pc_04{ height:016.67%;}
	.hghtMin320Max480_duz24pc_05{ height:020.83%;}
	.hghtMin320Max480_duz24pc_06{ height:025.00%;}
	.hghtMin320Max480_duz24pc_07{ height:029.17%;}
	.hghtMin320Max480_duz24pc_08{ height:033.33%;}
	.hghtMin320Max480_duz24pc_09{ height:037.50%;}
	.hghtMin320Max480_duz24pc_10{ height:041.67%;}
	.hghtMin320Max480_duz24pc_11{ height:045.83%;}
	.hghtMin320Max480_duz24pc_12{ height:050.00%;}
	.hghtMin320Max480_duz24pc_13{ height:054.17%;}
	.hghtMin320Max480_duz24pc_14{ height:058.33%;}
	.hghtMin320Max480_duz24pc_15{ height:062.50%;}
	.hghtMin320Max480_duz24pc_16{ height:066.67%;}
	.hghtMin320Max480_duz24pc_17{ height:070.83%;}
	.hghtMin320Max480_duz24pc_18{ height:075.00%;}
	.hghtMin320Max480_duz24pc_19{ height:079.17%;}
	.hghtMin320Max480_duz24pc_20{ height:083.33%;}
	.hghtMin320Max480_duz24pc_21{ height:087.50%;}
	.hghtMin320Max480_duz24pc_22{ height:091.67%;}
	.hghtMin320Max480_duz24pc_23{ height:095.83%;}
	.hghtMin320Max480_duz24pc_24{ height:100.00%;}

	.hghtMin320Max480_duz24vw_01{ height:004.17vh;}
	.hghtMin320Max480_duz24vw_02{ height:008.33vh;}
	.hghtMin320Max480_duz24vw_03{ height:012.50vh;}
	.hghtMin320Max480_duz24vw_04{ height:016.67vh;}
	.hghtMin320Max480_duz24vw_05{ height:020.83vh;}
	.hghtMin320Max480_duz24vw_06{ height:025.00vh;}
	.hghtMin320Max480_duz24vw_07{ height:029.17vh;}
	.hghtMin320Max480_duz24vw_08{ height:033.33vh;}
	.hghtMin320Max480_duz24vw_09{ height:037.50vh;}
	.hghtMin320Max480_duz24vw_10{ height:041.67vh;}
	.hghtMin320Max480_duz24vw_11{ height:045.83vh;}
	.hghtMin320Max480_duz24vw_12{ height:050.00vh;}
	.hghtMin320Max480_duz24vw_13{ height:054.17vh;}
	.hghtMin320Max480_duz24vw_14{ height:058.33vh;}
	.hghtMin320Max480_duz24vw_15{ height:062.50vh;}
	.hghtMin320Max480_duz24vw_16{ height:066.67vh;}
	.hghtMin320Max480_duz24vw_17{ height:070.83vh;}
	.hghtMin320Max480_duz24vw_18{ height:075.00vh;}
	.hghtMin320Max480_duz24vw_19{ height:079.17vh;}
	.hghtMin320Max480_duz24vw_20{ height:083.33vh;}
	.hghtMin320Max480_duz24vw_21{ height:087.50vh;}
	.hghtMin320Max480_duz24vw_22{ height:091.67vh;}
	.hghtMin320Max480_duz24vw_23{ height:095.83vh;}
	.hghtMin320Max480_duz24vw_24{ height:100.00vh;}
}
@media (min-height: 481px) and (max-height: 600px){
	.hghtMin481Max600_duz24pc_01{ height:004.17%;}
	.hghtMin481Max600_duz24pc_02{ height:008.33%;}
	.hghtMin481Max600_duz24pc_03{ height:012.50%;}
	.hghtMin481Max600_duz24pc_04{ height:016.67%;}
	.hghtMin481Max600_duz24pc_05{ height:020.83%;}
	.hghtMin481Max600_duz24pc_06{ height:025.00%;}
	.hghtMin481Max600_duz24pc_07{ height:029.17%;}
	.hghtMin481Max600_duz24pc_08{ height:033.33%;}
	.hghtMin481Max600_duz24pc_09{ height:037.50%;}
	.hghtMin481Max600_duz24pc_10{ height:041.67%;}
	.hghtMin481Max600_duz24pc_11{ height:045.83%;}
	.hghtMin481Max600_duz24pc_12{ height:050.00%;}
	.hghtMin481Max600_duz24pc_13{ height:054.17%;}
	.hghtMin481Max600_duz24pc_14{ height:058.33%;}
	.hghtMin481Max600_duz24pc_15{ height:062.50%;}
	.hghtMin481Max600_duz24pc_16{ height:066.67%;}
	.hghtMin481Max600_duz24pc_17{ height:070.83%;}
	.hghtMin481Max600_duz24pc_18{ height:075.00%;}
	.hghtMin481Max600_duz24pc_19{ height:079.17%;}
	.hghtMin481Max600_duz24pc_20{ height:083.33%;}
	.hghtMin481Max600_duz24pc_21{ height:087.50%;}
	.hghtMin481Max600_duz24pc_22{ height:091.67%;}
	.hghtMin481Max600_duz24pc_23{ height:095.83%;}
	.hghtMin481Max600_duz24pc_24{ height:100.00%;}
	
	.hghtMin481Max600_duz24vw_01{ height:004.17vh;}
	.hghtMin481Max600_duz24vw_02{ height:008.33vh;}
	.hghtMin481Max600_duz24vw_03{ height:012.50vh;}
	.hghtMin481Max600_duz24vw_04{ height:016.67vh;}
	.hghtMin481Max600_duz24vw_05{ height:020.83vh;}
	.hghtMin481Max600_duz24vw_06{ height:025.00vh;}
	.hghtMin481Max600_duz24vw_07{ height:029.17vh;}
	.hghtMin481Max600_duz24vw_08{ height:033.33vh;}
	.hghtMin481Max600_duz24vw_09{ height:037.50vh;}
	.hghtMin481Max600_duz24vw_10{ height:041.67vh;}
	.hghtMin481Max600_duz24vw_11{ height:045.83vh;}
	.hghtMin481Max600_duz24vw_12{ height:050.00vh;}
	.hghtMin481Max600_duz24vw_13{ height:054.17vh;}
	.hghtMin481Max600_duz24vw_14{ height:058.33vh;}
	.hghtMin481Max600_duz24vw_15{ height:062.50vh;}
	.hghtMin481Max600_duz24vw_16{ height:066.67vh;}
	.hghtMin481Max600_duz24vw_17{ height:070.83vh;}
	.hghtMin481Max600_duz24vw_18{ height:075.00vh;}
	.hghtMin481Max600_duz24vw_19{ height:079.17vh;}
	.hghtMin481Max600_duz24vw_20{ height:083.33vh;}
	.hghtMin481Max600_duz24vw_21{ height:087.50vh;}
	.hghtMin481Max600_duz24vw_22{ height:091.67vh;}
	.hghtMin481Max600_duz24vw_23{ height:095.83vh;}
	.hghtMin481Max600_duz24vw_24{ height:100.00vh;}
}
@media (min-height: 601px) and (max-height: 800px){ 
	.hghtMin601Max800_duz24pc_01{ height:004.17%;}
	.hghtMin601Max800_duz24pc_02{ height:008.33%;}
	.hghtMin601Max800_duz24pc_03{ height:012.50%;}
	.hghtMin601Max800_duz24pc_04{ height:016.67%;}
	.hghtMin601Max800_duz24pc_05{ height:020.83%;}
	.hghtMin601Max800_duz24pc_06{ height:025.00%;}
	.hghtMin601Max800_duz24pc_07{ height:029.17%;}
	.hghtMin601Max800_duz24pc_08{ height:033.33%;}
	.hghtMin601Max800_duz24pc_09{ height:037.50%;}
	.hghtMin601Max800_duz24pc_10{ height:041.67%;}
	.hghtMin601Max800_duz24pc_11{ height:045.83%;}
	.hghtMin601Max800_duz24pc_12{ height:050.00%;}
	.hghtMin601Max800_duz24pc_13{ height:054.17%;}
	.hghtMin601Max800_duz24pc_14{ height:058.33%;}
	.hghtMin601Max800_duz24pc_15{ height:062.50%;}
	.hghtMin601Max800_duz24pc_16{ height:066.67%;}
	.hghtMin601Max800_duz24pc_17{ height:070.83%;}
	.hghtMin601Max800_duz24pc_18{ height:075.00%;}
	.hghtMin601Max800_duz24pc_19{ height:079.17%;}
	.hghtMin601Max800_duz24pc_20{ height:083.33%;}
	.hghtMin601Max800_duz24pc_21{ height:087.50%;}
	.hghtMin601Max800_duz24pc_22{ height:091.67%;}
	.hghtMin601Max800_duz24pc_23{ height:095.83%;}
	.hghtMin601Max800_duz24pc_24{ height:100.00%;}
	
	.hghtMin601Max800_duz24vw_01{ height:004.17vh;}
	.hghtMin601Max800_duz24vw_02{ height:008.33vh;}
	.hghtMin601Max800_duz24vw_03{ height:012.50vh;}
	.hghtMin601Max800_duz24vw_04{ height:016.67vh;}
	.hghtMin601Max800_duz24vw_05{ height:020.83vh;}
	.hghtMin601Max800_duz24vw_06{ height:025.00vh;}
	.hghtMin601Max800_duz24vw_07{ height:029.17vh;}
	.hghtMin601Max800_duz24vw_08{ height:033.33vh;}
	.hghtMin601Max800_duz24vw_09{ height:037.50vh;}
	.hghtMin601Max800_duz24vw_10{ height:041.67vh;}
	.hghtMin601Max800_duz24vw_11{ height:045.83vh;}
	.hghtMin601Max800_duz24vw_12{ height:050.00vh;}
	.hghtMin601Max800_duz24vw_13{ height:054.17vh;}
	.hghtMin601Max800_duz24vw_14{ height:058.33vh;}
	.hghtMin601Max800_duz24vw_15{ height:062.50vh;}
	.hghtMin601Max800_duz24vw_16{ height:066.67vh;}
	.hghtMin601Max800_duz24vw_17{ height:070.83vh;}
	.hghtMin601Max800_duz24vw_18{ height:075.00vh;}
	.hghtMin601Max800_duz24vw_19{ height:079.17vh;}
	.hghtMin601Max800_duz24vw_20{ height:083.33vh;}
	.hghtMin601Max800_duz24vw_21{ height:087.50vh;}
	.hghtMin601Max800_duz24vw_22{ height:091.67vh;}
	.hghtMin601Max800_duz24vw_23{ height:095.83vh;}
	.hghtMin601Max800_duz24vw_24{ height:100.00vh;}
}
@media (min-height: 801px) and (max-height: 1024px){ 
	.hghtMin801Max1024_duz24pc_01{ height:004.17%;}
	.hghtMin801Max1024_duz24pc_02{ height:008.33%;}
	.hghtMin801Max1024_duz24pc_03{ height:012.50%;}
	.hghtMin801Max1024_duz24pc_04{ height:016.67%;}
	.hghtMin801Max1024_duz24pc_05{ height:020.83%;}
	.hghtMin801Max1024_duz24pc_06{ height:025.00%;}
	.hghtMin801Max1024_duz24pc_07{ height:029.17%;}
	.hghtMin801Max1024_duz24pc_08{ height:033.33%;}
	.hghtMin801Max1024_duz24pc_09{ height:037.50%;}
	.hghtMin801Max1024_duz24pc_10{ height:041.67%;}
	.hghtMin801Max1024_duz24pc_11{ height:045.83%;}
	.hghtMin801Max1024_duz24pc_12{ height:050.00%;}
	.hghtMin801Max1024_duz24pc_13{ height:054.17%;}
	.hghtMin801Max1024_duz24pc_14{ height:058.33%;}
	.hghtMin801Max1024_duz24pc_15{ height:062.50%;}
	.hghtMin801Max1024_duz24pc_16{ height:066.67%;}
	.hghtMin801Max1024_duz24pc_17{ height:070.83%;}
	.hghtMin801Max1024_duz24pc_18{ height:075.00%;}
	.hghtMin801Max1024_duz24pc_19{ height:079.17%;}
	.hghtMin801Max1024_duz24pc_20{ height:083.33%;}
	.hghtMin801Max1024_duz24pc_21{ height:087.50%;}
	.hghtMin801Max1024_duz24pc_22{ height:091.67%;}
	.hghtMin801Max1024_duz24pc_23{ height:095.83%;}
	.hghtMin801Max1024_duz24pc_24{ height:100.00%;}
	
	.hghtMin801Max1024_duz24vw_01{ height:004.17vh;}
	.hghtMin801Max1024_duz24vw_02{ height:008.33vh;}
	.hghtMin801Max1024_duz24vw_03{ height:012.50vh;}
	.hghtMin801Max1024_duz24vw_04{ height:016.67vh;}
	.hghtMin801Max1024_duz24vw_05{ height:020.83vh;}
	.hghtMin801Max1024_duz24vw_06{ height:025.00vh;}
	.hghtMin801Max1024_duz24vw_07{ height:029.17vh;}
	.hghtMin801Max1024_duz24vw_08{ height:033.33vh;}
	.hghtMin801Max1024_duz24vw_09{ height:037.50vh;}
	.hghtMin801Max1024_duz24vw_10{ height:041.67vh;}
	.hghtMin801Max1024_duz24vw_11{ height:045.83vh;}
	.hghtMin801Max1024_duz24vw_12{ height:050.00vh;}
	.hghtMin801Max1024_duz24vw_13{ height:054.17vh;}
	.hghtMin801Max1024_duz24vw_14{ height:058.33vh;}
	.hghtMin801Max1024_duz24vw_15{ height:062.50vh;}
	.hghtMin801Max1024_duz24vw_16{ height:066.67vh;}
	.hghtMin801Max1024_duz24vw_17{ height:070.83vh;}
	.hghtMin801Max1024_duz24vw_18{ height:075.00vh;}
	.hghtMin801Max1024_duz24vw_19{ height:079.17vh;}
	.hghtMin801Max1024_duz24vw_20{ height:083.33vh;}
	.hghtMin801Max1024_duz24vw_21{ height:087.50vh;}
	.hghtMin801Max1024_duz24vw_22{ height:091.67vh;}
	.hghtMin801Max1024_duz24vw_23{ height:095.83vh;}
	.hghtMin801Max1024_duz24vw_24{ height:100.00vh;}	
}
@media (min-height: 1025px) and (max-height: 1280px){
	.hghtMin1025Max1280_duz24pc_01{ height:004.17%;}
	.hghtMin1025Max1280_duz24pc_02{ height:008.33%;}
	.hghtMin1025Max1280_duz24pc_03{ height:012.50%;}
	.hghtMin1025Max1280_duz24pc_04{ height:016.67%;}
	.hghtMin1025Max1280_duz24pc_05{ height:020.83%;}
	.hghtMin1025Max1280_duz24pc_06{ height:025.00%;}
	.hghtMin1025Max1280_duz24pc_07{ height:029.17%;}
	.hghtMin1025Max1280_duz24pc_08{ height:033.33%;}
	.hghtMin1025Max1280_duz24pc_09{ height:037.50%;}
	.hghtMin1025Max1280_duz24pc_10{ height:041.67%;}
	.hghtMin1025Max1280_duz24pc_11{ height:045.83%;}
	.hghtMin1025Max1280_duz24pc_12{ height:050.00%;}
	.hghtMin1025Max1280_duz24pc_13{ height:054.17%;}
	.hghtMin1025Max1280_duz24pc_14{ height:058.33%;}
	.hghtMin1025Max1280_duz24pc_15{ height:062.50%;}
	.hghtMin1025Max1280_duz24pc_16{ height:066.67%;}
	.hghtMin1025Max1280_duz24pc_17{ height:070.83%;}
	.hghtMin1025Max1280_duz24pc_18{ height:075.00%;}
	.hghtMin1025Max1280_duz24pc_19{ height:079.17%;}
	.hghtMin1025Max1280_duz24pc_20{ height:083.33%;}
	.hghtMin1025Max1280_duz24pc_21{ height:087.50%;}
	.hghtMin1025Max1280_duz24pc_22{ height:091.67%;}
	.hghtMin1025Max1280_duz24pc_23{ height:095.83%;}
	.hghtMin1025Max1280_duz24pc_24{ height:100.00%;}
	
	.hghtMin1025Max1280_duz24vw_01{ height:004.17vh;}
	.hghtMin1025Max1280_duz24vw_02{ height:008.33vh;}
	.hghtMin1025Max1280_duz24vw_03{ height:012.50vh;}
	.hghtMin1025Max1280_duz24vw_04{ height:016.67vh;}
	.hghtMin1025Max1280_duz24vw_05{ height:020.83vh;}
	.hghtMin1025Max1280_duz24vw_06{ height:025.00vh;}
	.hghtMin1025Max1280_duz24vw_07{ height:029.17vh;}
	.hghtMin1025Max1280_duz24vw_08{ height:033.33vh;}
	.hghtMin1025Max1280_duz24vw_09{ height:037.50vh;}
	.hghtMin1025Max1280_duz24vw_10{ height:041.67vh;}
	.hghtMin1025Max1280_duz24vw_11{ height:045.83vh;}
	.hghtMin1025Max1280_duz24vw_12{ height:050.00vh;}
	.hghtMin1025Max1280_duz24vw_13{ height:054.17vh;}
	.hghtMin1025Max1280_duz24vw_14{ height:058.33vh;}
	.hghtMin1025Max1280_duz24vw_15{ height:062.50vh;}
	.hghtMin1025Max1280_duz24vw_16{ height:066.67vh;}
	.hghtMin1025Max1280_duz24vw_17{ height:070.83vh;}
	.hghtMin1025Max1280_duz24vw_18{ height:075.00vh;}
	.hghtMin1025Max1280_duz24vw_19{ height:079.17vh;}
	.hghtMin1025Max1280_duz24vw_20{ height:083.33vh;}
	.hghtMin1025Max1280_duz24vw_21{ height:087.50vh;}
	.hghtMin1025Max1280_duz24vw_22{ height:091.67vh;}
	.hghtMin1025Max1280_duz24vw_23{ height:095.83vh;}
	.hghtMin1025Max1280_duz24vw_24{ height:100.00vh;}
}
@media (min-height: 1281px) and (max-height: 1420px){
	.hghtMin1281Max1420_duz24pc_01{ height:004.17%;}
	.hghtMin1281Max1420_duz24pc_02{ height:008.33%;}
	.hghtMin1281Max1420_duz24pc_03{ height:012.50%;}
	.hghtMin1281Max1420_duz24pc_04{ height:016.67%;}
	.hghtMin1281Max1420_duz24pc_05{ height:020.83%;}
	.hghtMin1281Max1420_duz24pc_06{ height:025.00%;}
	.hghtMin1281Max1420_duz24pc_07{ height:029.17%;}
	.hghtMin1281Max1420_duz24pc_08{ height:033.33%;}
	.hghtMin1281Max1420_duz24pc_09{ height:037.50%;}
	.hghtMin1281Max1420_duz24pc_10{ height:041.67%;}
	.hghtMin1281Max1420_duz24pc_11{ height:045.83%;}
	.hghtMin1281Max1420_duz24pc_12{ height:050.00%;}
	.hghtMin1281Max1420_duz24pc_13{ height:054.17%;}
	.hghtMin1281Max1420_duz24pc_14{ height:058.33%;}
	.hghtMin1281Max1420_duz24pc_15{ height:062.50%;}
	.hghtMin1281Max1420_duz24pc_16{ height:066.67%;}
	.hghtMin1281Max1420_duz24pc_17{ height:070.83%;}
	.hghtMin1281Max1420_duz24pc_18{ height:075.00%;}
	.hghtMin1281Max1420_duz24pc_19{ height:079.17%;}
	.hghtMin1281Max1420_duz24pc_20{ height:083.33%;}
	.hghtMin1281Max1420_duz24pc_21{ height:087.50%;}
	.hghtMin1281Max1420_duz24pc_22{ height:091.67%;}
	.hghtMin1281Max1420_duz24pc_23{ height:095.83%;}
	.hghtMin1281Max1420_duz24pc_24{ height:100.00%;}
	
	.hghtMin1281Max1420_duz24vw_01{ height:004.17vh;}
	.hghtMin1281Max1420_duz24vw_02{ height:008.33vh;}
	.hghtMin1281Max1420_duz24vw_03{ height:012.50vh;}
	.hghtMin1281Max1420_duz24vw_04{ height:016.67vh;}
	.hghtMin1281Max1420_duz24vw_05{ height:020.83vh;}
	.hghtMin1281Max1420_duz24vw_06{ height:025.00vh;}
	.hghtMin1281Max1420_duz24vw_07{ height:029.17vh;}
	.hghtMin1281Max1420_duz24vw_08{ height:033.33vh;}
	.hghtMin1281Max1420_duz24vw_09{ height:037.50vh;}
	.hghtMin1281Max1420_duz24vw_10{ height:041.67vh;}
	.hghtMin1281Max1420_duz24vw_11{ height:045.83vh;}
	.hghtMin1281Max1420_duz24vw_12{ height:050.00vh;}
	.hghtMin1281Max1420_duz24vw_13{ height:054.17vh;}
	.hghtMin1281Max1420_duz24vw_14{ height:058.33vh;}
	.hghtMin1281Max1420_duz24vw_15{ height:062.50vh;}
	.hghtMin1281Max1420_duz24vw_16{ height:066.67vh;}
	.hghtMin1281Max1420_duz24vw_17{ height:070.83vh;}
	.hghtMin1281Max1420_duz24vw_18{ height:075.00vh;}
	.hghtMin1281Max1420_duz24vw_19{ height:079.17vh;}
	.hghtMin1281Max1420_duz24vw_20{ height:083.33vh;}
	.hghtMin1281Max1420_duz24vw_21{ height:087.50vh;}
	.hghtMin1281Max1420_duz24vw_22{ height:091.67vh;}
	.hghtMin1281Max1420_duz24vw_23{ height:095.83vh;}
	.hghtMin1281Max1420_duz24vw_24{ height:100.00vh;}
}
@media (min-height: 1421px) and (max-height: 1920px){
	.hghtMin1421Max1920_duz24pc_01{ height:004.17%;}
	.hghtMin1421Max1920_duz24pc_02{ height:008.33%;}
	.hghtMin1421Max1920_duz24pc_03{ height:012.50%;}
	.hghtMin1421Max1920_duz24pc_04{ height:016.67%;}
	.hghtMin1421Max1920_duz24pc_05{ height:020.83%;}
	.hghtMin1421Max1920_duz24pc_06{ height:025.00%;}
	.hghtMin1421Max1920_duz24pc_07{ height:029.17%;}
	.hghtMin1421Max1920_duz24pc_08{ height:033.33%;}
	.hghtMin1421Max1920_duz24pc_09{ height:037.50%;}
	.hghtMin1421Max1920_duz24pc_10{ height:041.67%;}
	.hghtMin1421Max1920_duz24pc_11{ height:045.83%;}
	.hghtMin1421Max1920_duz24pc_12{ height:050.00%;}
	.hghtMin1421Max1920_duz24pc_13{ height:054.17%;}
	.hghtMin1421Max1920_duz24pc_14{ height:058.33%;}
	.hghtMin1421Max1920_duz24pc_15{ height:062.50%;}
	.hghtMin1421Max1920_duz24pc_16{ height:066.67%;}
	.hghtMin1421Max1920_duz24pc_17{ height:070.83%;}
	.hghtMin1421Max1920_duz24pc_18{ height:075.00%;}
	.hghtMin1421Max1920_duz24pc_19{ height:079.17%;}
	.hghtMin1421Max1920_duz24pc_20{ height:083.33%;}
	.hghtMin1421Max1920_duz24pc_21{ height:087.50%;}
	.hghtMin1421Max1920_duz24pc_22{ height:091.67%;}
	.hghtMin1421Max1920_duz24pc_23{ height:095.83%;}
	.hghtMin1421Max1920_duz24pc_24{ height:100.00%;}
	
	.hghtMin1421Max1920_duz24vw_01{ height:004.17vh;}
	.hghtMin1421Max1920_duz24vw_02{ height:008.33vh;}
	.hghtMin1421Max1920_duz24vw_03{ height:012.50vh;}
	.hghtMin1421Max1920_duz24vw_04{ height:016.67vh;}
	.hghtMin1421Max1920_duz24vw_05{ height:020.83vh;}
	.hghtMin1421Max1920_duz24vw_06{ height:025.00vh;}
	.hghtMin1421Max1920_duz24vw_07{ height:029.17vh;}
	.hghtMin1421Max1920_duz24vw_08{ height:033.33vh;}
	.hghtMin1421Max1920_duz24vw_09{ height:037.50vh;}
	.hghtMin1421Max1920_duz24vw_10{ height:041.67vh;}
	.hghtMin1421Max1920_duz24vw_11{ height:045.83vh;}
	.hghtMin1421Max1920_duz24vw_12{ height:050.00vh;}
	.hghtMin1421Max1920_duz24vw_13{ height:054.17vh;}
	.hghtMin1421Max1920_duz24vw_14{ height:058.33vh;}
	.hghtMin1421Max1920_duz24vw_15{ height:062.50vh;}
	.hghtMin1421Max1920_duz24vw_16{ height:066.67vh;}
	.hghtMin1421Max1920_duz24vw_17{ height:070.83vh;}
	.hghtMin1421Max1920_duz24vw_18{ height:075.00vh;}
	.hghtMin1421Max1920_duz24vw_19{ height:079.17vh;}
	.hghtMin1421Max1920_duz24vw_20{ height:083.33vh;}
	.hghtMin1421Max1920_duz24vw_21{ height:087.50vh;}
	.hghtMin1421Max1920_duz24vw_22{ height:091.67vh;}
	.hghtMin1421Max1920_duz24vw_23{ height:095.83vh;}
	.hghtMin1421Max1920_duz24vw_24{ height:100.00vh;}
}
@media (min-height: 1921px){
	.hghtMin1921_duz24pc_01{ height:004.17%;}
	.hghtMin1921_duz24pc_02{ height:008.33%;}
	.hghtMin1921_duz24pc_03{ height:012.50%;}
	.hghtMin1921_duz24pc_04{ height:016.67%;}
	.hghtMin1921_duz24pc_05{ height:020.83%;}
	.hghtMin1921_duz24pc_06{ height:025.00%;}
	.hghtMin1921_duz24pc_07{ height:029.17%;}
	.hghtMin1921_duz24pc_08{ height:033.33%;}
	.hghtMin1921_duz24pc_09{ height:037.50%;}
	.hghtMin1921_duz24pc_10{ height:041.67%;}
	.hghtMin1921_duz24pc_11{ height:045.83%;}
	.hghtMin1921_duz24pc_12{ height:050.00%;}
	.hghtMin1921_duz24pc_13{ height:054.17%;}
	.hghtMin1921_duz24pc_14{ height:058.33%;}
	.hghtMin1921_duz24pc_15{ height:062.50%;}
	.hghtMin1921_duz24pc_16{ height:066.67%;}
	.hghtMin1921_duz24pc_17{ height:070.83%;}
	.hghtMin1921_duz24pc_18{ height:075.00%;}
	.hghtMin1921_duz24pc_19{ height:079.17%;}
	.hghtMin1921_duz24pc_20{ height:083.33%;}
	.hghtMin1921_duz24pc_21{ height:087.50%;}
	.hghtMin1921_duz24pc_22{ height:091.67%;}
	.hghtMin1921_duz24pc_23{ height:095.83%;}
	.hghtMin1921_duz24pc_24{ height:100.00%;}
	
	.hghtMin1921_duz24vw_01{ height:004.17vh;}
	.hghtMin1921_duz24vw_02{ height:008.33vh;}
	.hghtMin1921_duz24vw_03{ height:012.50vh;}
	.hghtMin1921_duz24vw_04{ height:016.67vh;}
	.hghtMin1921_duz24vw_05{ height:020.83vh;}
	.hghtMin1921_duz24vw_06{ height:025.00vh;}
	.hghtMin1921_duz24vw_07{ height:029.17vh;}
	.hghtMin1921_duz24vw_08{ height:033.33vh;}
	.hghtMin1921_duz24vw_09{ height:037.50vh;}
	.hghtMin1921_duz24vw_10{ height:041.67vh;}
	.hghtMin1921_duz24vw_11{ height:045.83vh;}
	.hghtMin1921_duz24vw_12{ height:050.00vh;}
	.hghtMin1921_duz24vw_13{ height:054.17vh;}
	.hghtMin1921_duz24vw_14{ height:058.33vh;}
	.hghtMin1921_duz24vw_15{ height:062.50vh;}
	.hghtMin1921_duz24vw_16{ height:066.67vh;}
	.hghtMin1921_duz24vw_17{ height:070.83vh;}
	.hghtMin1921_duz24vw_18{ height:075.00vh;}
	.hghtMin1921_duz24vw_19{ height:079.17vh;}
	.hghtMin1921_duz24vw_20{ height:083.33vh;}
	.hghtMin1921_duz24vw_21{ height:087.50vh;}
	.hghtMin1921_duz24vw_22{ height:091.67vh;}
	.hghtMin1921_duz24vw_23{ height:095.83vh;}
	.hghtMin1921_duz24vw_24{ height:100.00vh;}
}