@charset "utf-8";

.wtdhGeneral_bin64pc_01{ width:002%;}
.wtdhGeneral_bin64pc_02{ width:003%;}
.wtdhGeneral_bin64pc_04{ width:006%;}
.wtdhGeneral_bin64pc_08{ width:013%;}
.wtdhGeneral_bin64pc_16{ width:025%;}
.wtdhGeneral_bin64pc_32{ width:050%;}
.wtdhGeneral_bin64pc_64{ width:100%;}

.wtdhGeneral_bin64vw_01{ width:002vw;}
.wtdhGeneral_bin64vw_02{ width:003vw;}
.wtdhGeneral_bin64vw_04{ width:006vw;}
.wtdhGeneral_bin64vw_08{ width:013vw;}
.wtdhGeneral_bin64vw_16{ width:025vw;}
.wtdhGeneral_bin64vw_32{ width:050vw;}
.wtdhGeneral_bin64vw_64{ width:100vw;}

@media (max-width: 320px){
	.wtdhMax0320_bin64pc_01{ width:002%;}
	.wtdhMax0320_bin64pc_02{ width:003%;}
	.wtdhMax0320_bin64pc_04{ width:006%;}
	.wtdhMax0320_bin64pc_08{ width:013%;}
	.wtdhMax0320_bin64pc_16{ width:025%;}
	.wtdhMax0320_bin64pc_32{ width:050%;}
	.wtdhMax0320_bin64pc_64{ width:100%;}
	
	.wtdhMax0320_bin64vw_01{ width:002vw;}
	.wtdhMax0320_bin64vw_02{ width:003vw;}
	.wtdhMax0320_bin64vw_04{ width:006vw;}
	.wtdhMax0320_bin64vw_08{ width:013vw;}
	.wtdhMax0320_bin64vw_16{ width:025vw;}
	.wtdhMax0320_bin64vw_32{ width:050vw;}
	.wtdhMax0320_bin64vw_64{ width:100vw;}
}

@media (min-width: 321px) and (max-width: 480px){
	.wtdhMin321Max480_bin64pc_01{ width:002%;}
	.wtdhMin321Max480_bin64pc_02{ width:003%;}
	.wtdhMin321Max480_bin64pc_04{ width:006%;}
	.wtdhMin321Max480_bin64pc_08{ width:013%;}
	.wtdhMin321Max480_bin64pc_16{ width:025%;}
	.wtdhMin321Max480_bin64pc_32{ width:050%;}
	.wtdhMin321Max480_bin64pc_64{ width:100%;}

	.wtdhMin321Max480_bin64vw_01{ width:002vw;}
	.wtdhMin321Max480_bin64vw_02{ width:003vw;}
	.wtdhMin321Max480_bin64vw_04{ width:006vw;}
	.wtdhMin321Max480_bin64vw_08{ width:013vw;}
	.wtdhMin321Max480_bin64vw_16{ width:025vw;}
	.wtdhMin321Max480_bin64vw_32{ width:050vw;}
	.wtdhMin321Max480_bin64vw_64{ width:100vw;}
}

@media (min-width: 481px) and (max-width: 600px){
	.wtdhMin481Max600_bin64pc_01{ width:002%;}
	.wtdhMin481Max600_bin64pc_02{ width:003%;}
	.wtdhMin481Max600_bin64pc_04{ width:006%;}
	.wtdhMin481Max600_bin64pc_08{ width:013%;}
	.wtdhMin481Max600_bin64pc_16{ width:025%;}
	.wtdhMin481Max600_bin64pc_32{ width:050%;}
	.wtdhMin481Max600_bin64pc_64{ width:100%;}
	
	.wtdhMin481Max600_bin64vw_01{ width:002vw;}
	.wtdhMin481Max600_bin64vw_02{ width:003vw;}
	.wtdhMin481Max600_bin64vw_04{ width:006vw;}
	.wtdhMin481Max600_bin64vw_08{ width:013vw;}
	.wtdhMin481Max600_bin64vw_16{ width:025vw;}
	.wtdhMin481Max600_bin64vw_32{ width:050vw;}
	.wtdhMin481Max600_bin64vw_64{ width:100vw;}

}

@media (min-width: 601px) and (max-width: 800px){
	.wtdhMin601Max800_bin64pc_01{ width:002%;}
	.wtdhMin601Max800_bin64pc_02{ width:003%;}
	.wtdhMin601Max800_bin64pc_04{ width:006%;}
	.wtdhMin601Max800_bin64pc_08{ width:013%;}
	.wtdhMin601Max800_bin64pc_16{ width:025%;}
	.wtdhMin601Max800_bin64pc_32{ width:050%;}
	.wtdhMin601Max800_bin64pc_64{ width:100%;}
	
	.wtdhMin601Max800_bin64vw_01{ width:002vw;}
	.wtdhMin601Max800_bin64vw_02{ width:003vw;}
	.wtdhMin601Max800_bin64vw_04{ width:006vw;}
	.wtdhMin601Max800_bin64vw_08{ width:013vw;}
	.wtdhMin601Max800_bin64vw_16{ width:025vw;}
	.wtdhMin601Max800_bin64vw_32{ width:050vw;}
	.wtdhMin601Max800_bin64vw_64{ width:100vw;}
}

@media (min-width: 801px) and (max-width: 1024px){
	.wtdhMin801Max1024_bin64pc_01{ width:002%;}
	.wtdhMin801Max1024_bin64pc_02{ width:003%;}
	.wtdhMin801Max1024_bin64pc_04{ width:006%;}
	.wtdhMin801Max1024_bin64pc_08{ width:013%;}
	.wtdhMin801Max1024_bin64pc_16{ width:025%;}
	.wtdhMin801Max1024_bin64pc_32{ width:050%;}
	.wtdhMin801Max1024_bin64pc_64{ width:100%;}
	
	.wtdhMin801Max1024_bin64vw_01{ width:002vw;}
	.wtdhMin801Max1024_bin64vw_02{ width:003vw;}
	.wtdhMin801Max1024_bin64vw_04{ width:006vw;}
	.wtdhMin801Max1024_bin64vw_08{ width:013vw;}
	.wtdhMin801Max1024_bin64vw_16{ width:025vw;}
	.wtdhMin801Max1024_bin64vw_32{ width:050vw;}
	.wtdhMin801Max1024_bin64vw_64{ width:100vw;}
}
@media (min-width: 1025px) and (max-width: 1280px){ 
	.wtdhMin1025Max1280_bin64pc_01{ width:002%;}
	.wtdhMin1025Max1280_bin64pc_02{ width:003%;}
	.wtdhMin1025Max1280_bin64pc_04{ width:006%;}
	.wtdhMin1025Max1280_bin64pc_08{ width:013%;}
	.wtdhMin1025Max1280_bin64pc_16{ width:025%;}
	.wtdhMin1025Max1280_bin64pc_32{ width:050%;}
	.wtdhMin1025Max1280_bin64pc_64{ width:100%;}
	
	.wtdhMin1025Max1280_bin64vw_01{ width:002vw;}
	.wtdhMin1025Max1280_bin64vw_02{ width:003vw;}
	.wtdhMin1025Max1280_bin64vw_04{ width:006vw;}
	.wtdhMin1025Max1280_bin64vw_08{ width:013vw;}
	.wtdhMin1025Max1280_bin64vw_16{ width:025vw;}
	.wtdhMin1025Max1280_bin64vw_32{ width:050vw;}
	.wtdhMin1025Max1280_bin64vw_64{ width:100vw;}
}
@media (min-width: 1281px) and (max-width: 1420px){ 
	.wtdhMin1281Max1420_bin64pc_01{ width:002%;}
	.wtdhMin1281Max1420_bin64pc_02{ width:003%;}
	.wtdhMin1281Max1420_bin64pc_04{ width:006%;}
	.wtdhMin1281Max1420_bin64pc_08{ width:013%;}
	.wtdhMin1281Max1420_bin64pc_16{ width:025%;}
	.wtdhMin1281Max1420_bin64pc_32{ width:050%;}
	.wtdhMin1281Max1420_bin64pc_64{ width:100%;}
	
	.wtdhMin1281Max1420_bin64vw_01{ width:002vw;}
	.wtdhMin1281Max1420_bin64vw_02{ width:003vw;}
	.wtdhMin1281Max1420_bin64vw_04{ width:006vw;}
	.wtdhMin1281Max1420_bin64vw_08{ width:013vw;}
	.wtdhMin1281Max1420_bin64vw_16{ width:025vw;}
	.wtdhMin1281Max1420_bin64vw_32{ width:050vw;}
	.wtdhMin1281Max1420_bin64vw_64{ width:100vw;}
}
@media (min-width: 1421px) and (max-width: 1920px){ 
	.wtdhMin1421Max1920_bin64pc_01{ width:002%;}
	.wtdhMin1421Max1920_bin64pc_02{ width:003%;}
	.wtdhMin1421Max1920_bin64pc_04{ width:006%;}
	.wtdhMin1421Max1920_bin64pc_08{ width:013%;}
	.wtdhMin1421Max1920_bin64pc_16{ width:025%;}
	.wtdhMin1421Max1920_bin64pc_32{ width:050%;}
	.wtdhMin1421Max1920_bin64pc_64{ width:100%;}
	
	.wtdhMin1421Max1920_bin64vw_01{ width:002vw;}
	.wtdhMin1421Max1920_bin64vw_02{ width:003vw;}
	.wtdhMin1421Max1920_bin64vw_04{ width:006vw;}
	.wtdhMin1421Max1920_bin64vw_08{ width:013vw;}
	.wtdhMin1421Max1920_bin64vw_16{ width:025vw;}
	.wtdhMin1421Max1920_bin64vw_32{ width:050vw;}
	.wtdhMin1421Max1920_bin64vw_64{ width:100vw;}
}
@media (min-width: 1921px){
	.wtdhMin1921_bin64pc_01{ width:002%;}
	.wtdhMin1921_bin64pc_02{ width:003%;}
	.wtdhMin1921_bin64pc_04{ width:006%;}
	.wtdhMin1921_bin64pc_08{ width:013%;}
	.wtdhMin1921_bin64pc_16{ width:025%;}
	.wtdhMin1921_bin64pc_32{ width:050%;}
	.wtdhMin1921_bin64pc_64{ width:100%;}

	.wtdhMin1921_bin64vw_01{ width:002vw;}
	.wtdhMin1921_bin64vw_02{ width:003vw;}
	.wtdhMin1921_bin64vw_04{ width:006vw;}
	.wtdhMin1921_bin64vw_08{ width:013vw;}
	.wtdhMin1921_bin64vw_16{ width:025vw;}
	.wtdhMin1921_bin64vw_32{ width:050vw;}
	.wtdhMin1921_bin64vw_64{ width:100vw;}
}