@charset "utf-8";

.wtdhGeneral_duz24pc_01{ width:004.17%;}
.wtdhGeneral_duz24pc_02{ width:008.33%;}
.wtdhGeneral_duz24pc_03{ width:012.50%;}
.wtdhGeneral_duz24pc_04{ width:016.67%;}
.wtdhGeneral_duz24pc_05{ width:020.83%;}
.wtdhGeneral_duz24pc_06{ width:025.00%;}
.wtdhGeneral_duz24pc_07{ width:029.17%;}
.wtdhGeneral_duz24pc_08{ width:033.33%;}
.wtdhGeneral_duz24pc_09{ width:037.50%;}
.wtdhGeneral_duz24pc_10{ width:041.67%;}
.wtdhGeneral_duz24pc_11{ width:045.83%;}
.wtdhGeneral_duz24pc_12{ width:050.00%;}
.wtdhGeneral_duz24pc_13{ width:054.17%;}
.wtdhGeneral_duz24pc_14{ width:058.33%;}
.wtdhGeneral_duz24pc_15{ width:062.50%;}
.wtdhGeneral_duz24pc_16{ width:066.67%;}
.wtdhGeneral_duz24pc_17{ width:070.83%;}
.wtdhGeneral_duz24pc_18{ width:075.00%;}
.wtdhGeneral_duz24pc_19{ width:079.17%;}
.wtdhGeneral_duz24pc_20{ width:083.33%;}
.wtdhGeneral_duz24pc_21{ width:087.50%;}
.wtdhGeneral_duz24pc_22{ width:091.67%;}
.wtdhGeneral_duz24pc_23{ width:095.83%;}
.wtdhGeneral_duz24pc_24{ width:100.00%;}

.wtdhGeneral_duz24vw_01{ width:004.17vw;}
.wtdhGeneral_duz24vw_02{ width:008.33vw;}
.wtdhGeneral_duz24vw_03{ width:012.50vw;}
.wtdhGeneral_duz24vw_04{ width:016.67vw;}
.wtdhGeneral_duz24vw_05{ width:020.83vw;}
.wtdhGeneral_duz24vw_06{ width:025.00vw;}
.wtdhGeneral_duz24vw_07{ width:029.17vw;}
.wtdhGeneral_duz24vw_08{ width:033.33vw;}
.wtdhGeneral_duz24vw_09{ width:037.50vw;}
.wtdhGeneral_duz24vw_10{ width:041.67vw;}
.wtdhGeneral_duz24vw_11{ width:045.83vw;}
.wtdhGeneral_duz24vw_12{ width:050.00vw;}
.wtdhGeneral_duz24vw_13{ width:054.17vw;}
.wtdhGeneral_duz24vw_14{ width:058.33vw;}
.wtdhGeneral_duz24vw_15{ width:062.50vw;}
.wtdhGeneral_duz24vw_16{ width:066.67vw;}
.wtdhGeneral_duz24vw_17{ width:070.83vw;}
.wtdhGeneral_duz24vw_18{ width:075.00vw;}
.wtdhGeneral_duz24vw_19{ width:079.17vw;}
.wtdhGeneral_duz24vw_20{ width:083.33vw;}
.wtdhGeneral_duz24vw_21{ width:087.50vw;}
.wtdhGeneral_duz24vw_22{ width:091.67vw;}
.wtdhGeneral_duz24vw_23{ width:095.83vw;}
.wtdhGeneral_duz24vw_24{ width:100.00vw;}

@media (max-width: 320px){
	
	.wtdhMax0320_duz24pc_01{ width:004.17%;}
	.wtdhMax0320_duz24pc_02{ width:008.33%;}
	.wtdhMax0320_duz24pc_03{ width:012.50%;}
	.wtdhMax0320_duz24pc_04{ width:016.67%;}
	.wtdhMax0320_duz24pc_05{ width:020.83%;}
	.wtdhMax0320_duz24pc_06{ width:025.00%;}
	.wtdhMax0320_duz24pc_07{ width:029.17%;}
	.wtdhMax0320_duz24pc_08{ width:033.33%;}
	.wtdhMax0320_duz24pc_09{ width:037.50%;}
	.wtdhMax0320_duz24pc_10{ width:041.67%;}
	.wtdhMax0320_duz24pc_11{ width:045.83%;}
	.wtdhMax0320_duz24pc_12{ width:050.00%;}
	.wtdhMax0320_duz24pc_13{ width:054.17%;}
	.wtdhMax0320_duz24pc_14{ width:058.33%;}
	.wtdhMax0320_duz24pc_15{ width:062.50%;}
	.wtdhMax0320_duz24pc_16{ width:066.67%;}
	.wtdhMax0320_duz24pc_17{ width:070.83%;}
	.wtdhMax0320_duz24pc_18{ width:075.00%;}
	.wtdhMax0320_duz24pc_19{ width:079.17%;}
	.wtdhMax0320_duz24pc_20{ width:083.33%;}
	.wtdhMax0320_duz24pc_21{ width:087.50%;}
	.wtdhMax0320_duz24pc_22{ width:091.67%;}
	.wtdhMax0320_duz24pc_23{ width:095.83%;}
	.wtdhMax0320_duz24pc_24{ width:100.00%;}
	
	.wtdhMax0320_duz24vw_01{ width:004.17vw;}
	.wtdhMax0320_duz24vw_02{ width:008.33vw;}
	.wtdhMax0320_duz24vw_03{ width:012.50vw;}
	.wtdhMax0320_duz24vw_04{ width:016.67vw;}
	.wtdhMax0320_duz24vw_05{ width:020.83vw;}
	.wtdhMax0320_duz24vw_06{ width:025.00vw;}
	.wtdhMax0320_duz24vw_07{ width:029.17vw;}
	.wtdhMax0320_duz24vw_08{ width:033.33vw;}
	.wtdhMax0320_duz24vw_09{ width:037.50vw;}
	.wtdhMax0320_duz24vw_10{ width:041.67vw;}
	.wtdhMax0320_duz24vw_11{ width:045.83vw;}
	.wtdhMax0320_duz24vw_12{ width:050.00vw;}
	.wtdhMax0320_duz24vw_13{ width:054.17vw;}
	.wtdhMax0320_duz24vw_14{ width:058.33vw;}
	.wtdhMax0320_duz24vw_15{ width:062.50vw;}
	.wtdhMax0320_duz24vw_16{ width:066.67vw;}
	.wtdhMax0320_duz24vw_17{ width:070.83vw;}
	.wtdhMax0320_duz24vw_18{ width:075.00vw;}
	.wtdhMax0320_duz24vw_19{ width:079.17vw;}
	.wtdhMax0320_duz24vw_20{ width:083.33vw;}
	.wtdhMax0320_duz24vw_21{ width:087.50vw;}
	.wtdhMax0320_duz24vw_22{ width:091.67vw;}
	.wtdhMax0320_duz24vw_23{ width:095.83vw;}
	.wtdhMax0320_duz24vw_24{ width:100.00vw;}
	
}

@media (min-width: 321px) and (max-width: 480px){
	.wtdhMin321Max480_duz24pc_01{ width:004.17%;}
	.wtdhMin321Max480_duz24pc_02{ width:008.33%;}
	.wtdhMin321Max480_duz24pc_03{ width:012.50%;}
	.wtdhMin321Max480_duz24pc_04{ width:016.67%;}
	.wtdhMin321Max480_duz24pc_05{ width:020.83%;}
	.wtdhMin321Max480_duz24pc_06{ width:025.00%;}
	.wtdhMin321Max480_duz24pc_07{ width:029.17%;}
	.wtdhMin321Max480_duz24pc_08{ width:033.33%;}
	.wtdhMin321Max480_duz24pc_09{ width:037.50%;}
	.wtdhMin321Max480_duz24pc_10{ width:041.67%;}
	.wtdhMin321Max480_duz24pc_11{ width:045.83%;}
	.wtdhMin321Max480_duz24pc_12{ width:050.00%;}
	.wtdhMin321Max480_duz24pc_13{ width:054.17%;}
	.wtdhMin321Max480_duz24pc_14{ width:058.33%;}
	.wtdhMin321Max480_duz24pc_15{ width:062.50%;}
	.wtdhMin321Max480_duz24pc_16{ width:066.67%;}
	.wtdhMin321Max480_duz24pc_17{ width:070.83%;}
	.wtdhMin321Max480_duz24pc_18{ width:075.00%;}
	.wtdhMin321Max480_duz24pc_19{ width:079.17%;}
	.wtdhMin321Max480_duz24pc_20{ width:083.33%;}
	.wtdhMin321Max480_duz24pc_21{ width:087.50%;}
	.wtdhMin321Max480_duz24pc_22{ width:091.67%;}
	.wtdhMin321Max480_duz24pc_23{ width:095.83%;}
	.wtdhMin321Max480_duz24pc_24{ width:100.00%;}

	.wtdhMin321Max480_duz24vw_01{ width:004.17vw;}
	.wtdhMin321Max480_duz24vw_02{ width:008.33vw;}
	.wtdhMin321Max480_duz24vw_03{ width:012.50vw;}
	.wtdhMin321Max480_duz24vw_04{ width:016.67vw;}
	.wtdhMin321Max480_duz24vw_05{ width:020.83vw;}
	.wtdhMin321Max480_duz24vw_06{ width:025.00vw;}
	.wtdhMin321Max480_duz24vw_07{ width:029.17vw;}
	.wtdhMin321Max480_duz24vw_08{ width:033.33vw;}
	.wtdhMin321Max480_duz24vw_09{ width:037.50vw;}
	.wtdhMin321Max480_duz24vw_10{ width:041.67vw;}
	.wtdhMin321Max480_duz24vw_11{ width:045.83vw;}
	.wtdhMin321Max480_duz24vw_12{ width:050.00vw;}
	.wtdhMin321Max480_duz24vw_13{ width:054.17vw;}
	.wtdhMin321Max480_duz24vw_14{ width:058.33vw;}
	.wtdhMin321Max480_duz24vw_15{ width:062.50vw;}
	.wtdhMin321Max480_duz24vw_16{ width:066.67vw;}
	.wtdhMin321Max480_duz24vw_17{ width:070.83vw;}
	.wtdhMin321Max480_duz24vw_18{ width:075.00vw;}
	.wtdhMin321Max480_duz24vw_19{ width:079.17vw;}
	.wtdhMin321Max480_duz24vw_20{ width:083.33vw;}
	.wtdhMin321Max480_duz24vw_21{ width:087.50vw;}
	.wtdhMin321Max480_duz24vw_22{ width:091.67vw;}
	.wtdhMin321Max480_duz24vw_23{ width:095.83vw;}
	.wtdhMin321Max480_duz24vw_24{ width:100.00vw;}
}

@media (min-width: 481px) and (max-width: 600px){
	.wtdhMin481Max600_duz24pc_01{ width:004.17%;}
	.wtdhMin481Max600_duz24pc_02{ width:008.33%;}
	.wtdhMin481Max600_duz24pc_03{ width:012.50%;}
	.wtdhMin481Max600_duz24pc_04{ width:016.67%;}
	.wtdhMin481Max600_duz24pc_05{ width:020.83%;}
	.wtdhMin481Max600_duz24pc_06{ width:025.00%;}
	.wtdhMin481Max600_duz24pc_07{ width:029.17%;}
	.wtdhMin481Max600_duz24pc_08{ width:033.33%;}
	.wtdhMin481Max600_duz24pc_09{ width:037.50%;}
	.wtdhMin481Max600_duz24pc_10{ width:041.67%;}
	.wtdhMin481Max600_duz24pc_11{ width:045.83%;}
	.wtdhMin481Max600_duz24pc_12{ width:050.00%;}
	.wtdhMin481Max600_duz24pc_13{ width:054.17%;}
	.wtdhMin481Max600_duz24pc_14{ width:058.33%;}
	.wtdhMin481Max600_duz24pc_15{ width:062.50%;}
	.wtdhMin481Max600_duz24pc_16{ width:066.67%;}
	.wtdhMin481Max600_duz24pc_17{ width:070.83%;}
	.wtdhMin481Max600_duz24pc_18{ width:075.00%;}
	.wtdhMin481Max600_duz24pc_19{ width:079.17%;}
	.wtdhMin481Max600_duz24pc_20{ width:083.33%;}
	.wtdhMin481Max600_duz24pc_21{ width:087.50%;}
	.wtdhMin481Max600_duz24pc_22{ width:091.67%;}
	.wtdhMin481Max600_duz24pc_23{ width:095.83%;}
	.wtdhMin481Max600_duz24pc_24{ width:100.00%;}
	
	.wtdhMin481Max600_duz24vw_01{ width:004.17vw;}
	.wtdhMin481Max600_duz24vw_02{ width:008.33vw;}
	.wtdhMin481Max600_duz24vw_03{ width:012.50vw;}
	.wtdhMin481Max600_duz24vw_04{ width:016.67vw;}
	.wtdhMin481Max600_duz24vw_05{ width:020.83vw;}
	.wtdhMin481Max600_duz24vw_06{ width:025.00vw;}
	.wtdhMin481Max600_duz24vw_07{ width:029.17vw;}
	.wtdhMin481Max600_duz24vw_08{ width:033.33vw;}
	.wtdhMin481Max600_duz24vw_09{ width:037.50vw;}
	.wtdhMin481Max600_duz24vw_10{ width:041.67vw;}
	.wtdhMin481Max600_duz24vw_11{ width:045.83vw;}
	.wtdhMin481Max600_duz24vw_12{ width:050.00vw;}
	.wtdhMin481Max600_duz24vw_13{ width:054.17vw;}
	.wtdhMin481Max600_duz24vw_14{ width:058.33vw;}
	.wtdhMin481Max600_duz24vw_15{ width:062.50vw;}
	.wtdhMin481Max600_duz24vw_16{ width:066.67vw;}
	.wtdhMin481Max600_duz24vw_17{ width:070.83vw;}
	.wtdhMin481Max600_duz24vw_18{ width:075.00vw;}
	.wtdhMin481Max600_duz24vw_19{ width:079.17vw;}
	.wtdhMin481Max600_duz24vw_20{ width:083.33vw;}
	.wtdhMin481Max600_duz24vw_21{ width:087.50vw;}
	.wtdhMin481Max600_duz24vw_22{ width:091.67vw;}
	.wtdhMin481Max600_duz24vw_23{ width:095.83vw;}
	.wtdhMin481Max600_duz24vw_24{ width:100.00vw;}
}

@media (min-width: 601px) and (max-width: 800px){
	.wtdhMin601Max800_duz24pc_01{ width:004.17%;}
	.wtdhMin601Max800_duz24pc_02{ width:008.33%;}
	.wtdhMin601Max800_duz24pc_03{ width:012.50%;}
	.wtdhMin601Max800_duz24pc_04{ width:016.67%;}
	.wtdhMin601Max800_duz24pc_05{ width:020.83%;}
	.wtdhMin601Max800_duz24pc_06{ width:025.00%;}
	.wtdhMin601Max800_duz24pc_07{ width:029.17%;}
	.wtdhMin601Max800_duz24pc_08{ width:033.33%;}
	.wtdhMin601Max800_duz24pc_09{ width:037.50%;}
	.wtdhMin601Max800_duz24pc_10{ width:041.67%;}
	.wtdhMin601Max800_duz24pc_11{ width:045.83%;}
	.wtdhMin601Max800_duz24pc_12{ width:050.00%;}
	.wtdhMin601Max800_duz24pc_13{ width:054.17%;}
	.wtdhMin601Max800_duz24pc_14{ width:058.33%;}
	.wtdhMin601Max800_duz24pc_15{ width:062.50%;}
	.wtdhMin601Max800_duz24pc_16{ width:066.67%;}
	.wtdhMin601Max800_duz24pc_17{ width:070.83%;}
	.wtdhMin601Max800_duz24pc_18{ width:075.00%;}
	.wtdhMin601Max800_duz24pc_19{ width:079.17%;}
	.wtdhMin601Max800_duz24pc_20{ width:083.33%;}
	.wtdhMin601Max800_duz24pc_21{ width:087.50%;}
	.wtdhMin601Max800_duz24pc_22{ width:091.67%;}
	.wtdhMin601Max800_duz24pc_23{ width:095.83%;}
	.wtdhMin601Max800_duz24pc_24{ width:100.00%;}
	
	.wtdhMin601Max800_duz24vw_01{ width:004.17vw;}
	.wtdhMin601Max800_duz24vw_02{ width:008.33vw;}
	.wtdhMin601Max800_duz24vw_03{ width:012.50vw;}
	.wtdhMin601Max800_duz24vw_04{ width:016.67vw;}
	.wtdhMin601Max800_duz24vw_05{ width:020.83vw;}
	.wtdhMin601Max800_duz24vw_06{ width:025.00vw;}
	.wtdhMin601Max800_duz24vw_07{ width:029.17vw;}
	.wtdhMin601Max800_duz24vw_08{ width:033.33vw;}
	.wtdhMin601Max800_duz24vw_09{ width:037.50vw;}
	.wtdhMin601Max800_duz24vw_10{ width:041.67vw;}
	.wtdhMin601Max800_duz24vw_11{ width:045.83vw;}
	.wtdhMin601Max800_duz24vw_12{ width:050.00vw;}
	.wtdhMin601Max800_duz24vw_13{ width:054.17vw;}
	.wtdhMin601Max800_duz24vw_14{ width:058.33vw;}
	.wtdhMin601Max800_duz24vw_15{ width:062.50vw;}
	.wtdhMin601Max800_duz24vw_16{ width:066.67vw;}
	.wtdhMin601Max800_duz24vw_17{ width:070.83vw;}
	.wtdhMin601Max800_duz24vw_18{ width:075.00vw;}
	.wtdhMin601Max800_duz24vw_19{ width:079.17vw;}
	.wtdhMin601Max800_duz24vw_20{ width:083.33vw;}
	.wtdhMin601Max800_duz24vw_21{ width:087.50vw;}
	.wtdhMin601Max800_duz24vw_22{ width:091.67vw;}
	.wtdhMin601Max800_duz24vw_23{ width:095.83vw;}
	.wtdhMin601Max800_duz24vw_24{ width:100.00vw;}
}

@media (min-width: 801px) and (max-width: 1024px){
	.wtdhMin801Max1024_duz24pc_01{ width:004.17%;}
	.wtdhMin801Max1024_duz24pc_02{ width:008.33%;}
	.wtdhMin801Max1024_duz24pc_03{ width:012.50%;}
	.wtdhMin801Max1024_duz24pc_04{ width:016.67%;}
	.wtdhMin801Max1024_duz24pc_05{ width:020.83%;}
	.wtdhMin801Max1024_duz24pc_06{ width:025.00%;}
	.wtdhMin801Max1024_duz24pc_07{ width:029.17%;}
	.wtdhMin801Max1024_duz24pc_08{ width:033.33%;}
	.wtdhMin801Max1024_duz24pc_09{ width:037.50%;}
	.wtdhMin801Max1024_duz24pc_10{ width:041.67%;}
	.wtdhMin801Max1024_duz24pc_11{ width:045.83%;}
	.wtdhMin801Max1024_duz24pc_12{ width:050.00%;}
	.wtdhMin801Max1024_duz24pc_13{ width:054.17%;}
	.wtdhMin801Max1024_duz24pc_14{ width:058.33%;}
	.wtdhMin801Max1024_duz24pc_15{ width:062.50%;}
	.wtdhMin801Max1024_duz24pc_16{ width:066.67%;}
	.wtdhMin801Max1024_duz24pc_17{ width:070.83%;}
	.wtdhMin801Max1024_duz24pc_18{ width:075.00%;}
	.wtdhMin801Max1024_duz24pc_19{ width:079.17%;}
	.wtdhMin801Max1024_duz24pc_20{ width:083.33%;}
	.wtdhMin801Max1024_duz24pc_21{ width:087.50%;}
	.wtdhMin801Max1024_duz24pc_22{ width:091.67%;}
	.wtdhMin801Max1024_duz24pc_23{ width:095.83%;}
	.wtdhMin801Max1024_duz24pc_24{ width:100.00%;}
	
	.wtdhMin801Max1024_duz24vw_01{ width:004.17vw;}
	.wtdhMin801Max1024_duz24vw_02{ width:008.33vw;}
	.wtdhMin801Max1024_duz24vw_03{ width:012.50vw;}
	.wtdhMin801Max1024_duz24vw_04{ width:016.67vw;}
	.wtdhMin801Max1024_duz24vw_05{ width:020.83vw;}
	.wtdhMin801Max1024_duz24vw_06{ width:025.00vw;}
	.wtdhMin801Max1024_duz24vw_07{ width:029.17vw;}
	.wtdhMin801Max1024_duz24vw_08{ width:033.33vw;}
	.wtdhMin801Max1024_duz24vw_09{ width:037.50vw;}
	.wtdhMin801Max1024_duz24vw_10{ width:041.67vw;}
	.wtdhMin801Max1024_duz24vw_11{ width:045.83vw;}
	.wtdhMin801Max1024_duz24vw_12{ width:050.00vw;}
	.wtdhMin801Max1024_duz24vw_13{ width:054.17vw;}
	.wtdhMin801Max1024_duz24vw_14{ width:058.33vw;}
	.wtdhMin801Max1024_duz24vw_15{ width:062.50vw;}
	.wtdhMin801Max1024_duz24vw_16{ width:066.67vw;}
	.wtdhMin801Max1024_duz24vw_17{ width:070.83vw;}
	.wtdhMin801Max1024_duz24vw_18{ width:075.00vw;}
	.wtdhMin801Max1024_duz24vw_19{ width:079.17vw;}
	.wtdhMin801Max1024_duz24vw_20{ width:083.33vw;}
	.wtdhMin801Max1024_duz24vw_21{ width:087.50vw;}
	.wtdhMin801Max1024_duz24vw_22{ width:091.67vw;}
	.wtdhMin801Max1024_duz24vw_23{ width:095.83vw;}
	.wtdhMin801Max1024_duz24vw_24{ width:100.00vw;}

}
@media (min-width: 1025px) and (max-width: 1280px){ 
	.wtdhMin1025Max1280_duz24pc_01{ width:004.17%;}
	.wtdhMin1025Max1280_duz24pc_02{ width:008.33%;}
	.wtdhMin1025Max1280_duz24pc_03{ width:012.50%;}
	.wtdhMin1025Max1280_duz24pc_04{ width:016.67%;}
	.wtdhMin1025Max1280_duz24pc_05{ width:020.83%;}
	.wtdhMin1025Max1280_duz24pc_06{ width:025.00%;}
	.wtdhMin1025Max1280_duz24pc_07{ width:029.17%;}
	.wtdhMin1025Max1280_duz24pc_08{ width:033.33%;}
	.wtdhMin1025Max1280_duz24pc_09{ width:037.50%;}
	.wtdhMin1025Max1280_duz24pc_10{ width:041.67%;}
	.wtdhMin1025Max1280_duz24pc_11{ width:045.83%;}
	.wtdhMin1025Max1280_duz24pc_12{ width:050.00%;}
	.wtdhMin1025Max1280_duz24pc_13{ width:054.17%;}
	.wtdhMin1025Max1280_duz24pc_14{ width:058.33%;}
	.wtdhMin1025Max1280_duz24pc_15{ width:062.50%;}
	.wtdhMin1025Max1280_duz24pc_16{ width:066.67%;}
	.wtdhMin1025Max1280_duz24pc_17{ width:070.83%;}
	.wtdhMin1025Max1280_duz24pc_18{ width:075.00%;}
	.wtdhMin1025Max1280_duz24pc_19{ width:079.17%;}
	.wtdhMin1025Max1280_duz24pc_20{ width:083.33%;}
	.wtdhMin1025Max1280_duz24pc_21{ width:087.50%;}
	.wtdhMin1025Max1280_duz24pc_22{ width:091.67%;}
	.wtdhMin1025Max1280_duz24pc_23{ width:095.83%;}
	.wtdhMin1025Max1280_duz24pc_24{ width:100.00%;}
	
	.wtdhMin1025Max1280_duz24vw_01{ width:004.17vw;}
	.wtdhMin1025Max1280_duz24vw_02{ width:008.33vw;}
	.wtdhMin1025Max1280_duz24vw_03{ width:012.50vw;}
	.wtdhMin1025Max1280_duz24vw_04{ width:016.67vw;}
	.wtdhMin1025Max1280_duz24vw_05{ width:020.83vw;}
	.wtdhMin1025Max1280_duz24vw_06{ width:025.00vw;}
	.wtdhMin1025Max1280_duz24vw_07{ width:029.17vw;}
	.wtdhMin1025Max1280_duz24vw_08{ width:033.33vw;}
	.wtdhMin1025Max1280_duz24vw_09{ width:037.50vw;}
	.wtdhMin1025Max1280_duz24vw_10{ width:041.67vw;}
	.wtdhMin1025Max1280_duz24vw_11{ width:045.83vw;}
	.wtdhMin1025Max1280_duz24vw_12{ width:050.00vw;}
	.wtdhMin1025Max1280_duz24vw_13{ width:054.17vw;}
	.wtdhMin1025Max1280_duz24vw_14{ width:058.33vw;}
	.wtdhMin1025Max1280_duz24vw_15{ width:062.50vw;}
	.wtdhMin1025Max1280_duz24vw_16{ width:066.67vw;}
	.wtdhMin1025Max1280_duz24vw_17{ width:070.83vw;}
	.wtdhMin1025Max1280_duz24vw_18{ width:075.00vw;}
	.wtdhMin1025Max1280_duz24vw_19{ width:079.17vw;}
	.wtdhMin1025Max1280_duz24vw_20{ width:083.33vw;}
	.wtdhMin1025Max1280_duz24vw_21{ width:087.50vw;}
	.wtdhMin1025Max1280_duz24vw_22{ width:091.67vw;}
	.wtdhMin1025Max1280_duz24vw_23{ width:095.83vw;}
	.wtdhMin1025Max1280_duz24vw_24{ width:100.00vw;}	
}
@media (min-width: 1281px) and (max-width: 1420px){ 
	.wtdhMin1281Max1420_duz24pc_01{ width:004.17%;}
	.wtdhMin1281Max1420_duz24pc_02{ width:008.33%;}
	.wtdhMin1281Max1420_duz24pc_03{ width:012.50%;}
	.wtdhMin1281Max1420_duz24pc_04{ width:016.67%;}
	.wtdhMin1281Max1420_duz24pc_05{ width:020.83%;}
	.wtdhMin1281Max1420_duz24pc_06{ width:025.00%;}
	.wtdhMin1281Max1420_duz24pc_07{ width:029.17%;}
	.wtdhMin1281Max1420_duz24pc_08{ width:033.33%;}
	.wtdhMin1281Max1420_duz24pc_09{ width:037.50%;}
	.wtdhMin1281Max1420_duz24pc_10{ width:041.67%;}
	.wtdhMin1281Max1420_duz24pc_11{ width:045.83%;}
	.wtdhMin1281Max1420_duz24pc_12{ width:050.00%;}
	.wtdhMin1281Max1420_duz24pc_13{ width:054.17%;}
	.wtdhMin1281Max1420_duz24pc_14{ width:058.33%;}
	.wtdhMin1281Max1420_duz24pc_15{ width:062.50%;}
	.wtdhMin1281Max1420_duz24pc_16{ width:066.67%;}
	.wtdhMin1281Max1420_duz24pc_17{ width:070.83%;}
	.wtdhMin1281Max1420_duz24pc_18{ width:075.00%;}
	.wtdhMin1281Max1420_duz24pc_19{ width:079.17%;}
	.wtdhMin1281Max1420_duz24pc_20{ width:083.33%;}
	.wtdhMin1281Max1420_duz24pc_21{ width:087.50%;}
	.wtdhMin1281Max1420_duz24pc_22{ width:091.67%;}
	.wtdhMin1281Max1420_duz24pc_23{ width:095.83%;}
	.wtdhMin1281Max1420_duz24pc_24{ width:100.00%;}
	
	.wtdhMin1281Max1420_duz24vw_01{ width:004.17vw;}
	.wtdhMin1281Max1420_duz24vw_02{ width:008.33vw;}
	.wtdhMin1281Max1420_duz24vw_03{ width:012.50vw;}
	.wtdhMin1281Max1420_duz24vw_04{ width:016.67vw;}
	.wtdhMin1281Max1420_duz24vw_05{ width:020.83vw;}
	.wtdhMin1281Max1420_duz24vw_06{ width:025.00vw;}
	.wtdhMin1281Max1420_duz24vw_07{ width:029.17vw;}
	.wtdhMin1281Max1420_duz24vw_08{ width:033.33vw;}
	.wtdhMin1281Max1420_duz24vw_09{ width:037.50vw;}
	.wtdhMin1281Max1420_duz24vw_10{ width:041.67vw;}
	.wtdhMin1281Max1420_duz24vw_11{ width:045.83vw;}
	.wtdhMin1281Max1420_duz24vw_12{ width:050.00vw;}
	.wtdhMin1281Max1420_duz24vw_13{ width:054.17vw;}
	.wtdhMin1281Max1420_duz24vw_14{ width:058.33vw;}
	.wtdhMin1281Max1420_duz24vw_15{ width:062.50vw;}
	.wtdhMin1281Max1420_duz24vw_16{ width:066.67vw;}
	.wtdhMin1281Max1420_duz24vw_17{ width:070.83vw;}
	.wtdhMin1281Max1420_duz24vw_18{ width:075.00vw;}
	.wtdhMin1281Max1420_duz24vw_19{ width:079.17vw;}
	.wtdhMin1281Max1420_duz24vw_20{ width:083.33vw;}
	.wtdhMin1281Max1420_duz24vw_21{ width:087.50vw;}
	.wtdhMin1281Max1420_duz24vw_22{ width:091.67vw;}
	.wtdhMin1281Max1420_duz24vw_23{ width:095.83vw;}
	.wtdhMin1281Max1420_duz24vw_24{ width:100.00vw;}
}
@media (min-width: 1421px) and (max-width: 1920px){ 
	.wtdhMin1421Max1920_duz24pc_01{ width:004.17%;}
	.wtdhMin1421Max1920_duz24pc_02{ width:008.33%;}
	.wtdhMin1421Max1920_duz24pc_03{ width:012.50%;}
	.wtdhMin1421Max1920_duz24pc_04{ width:016.67%;}
	.wtdhMin1421Max1920_duz24pc_05{ width:020.83%;}
	.wtdhMin1421Max1920_duz24pc_06{ width:025.00%;}
	.wtdhMin1421Max1920_duz24pc_07{ width:029.17%;}
	.wtdhMin1421Max1920_duz24pc_08{ width:033.33%;}
	.wtdhMin1421Max1920_duz24pc_09{ width:037.50%;}
	.wtdhMin1421Max1920_duz24pc_10{ width:041.67%;}
	.wtdhMin1421Max1920_duz24pc_11{ width:045.83%;}
	.wtdhMin1421Max1920_duz24pc_12{ width:050.00%;}
	.wtdhMin1421Max1920_duz24pc_13{ width:054.17%;}
	.wtdhMin1421Max1920_duz24pc_14{ width:058.33%;}
	.wtdhMin1421Max1920_duz24pc_15{ width:062.50%;}
	.wtdhMin1421Max1920_duz24pc_16{ width:066.67%;}
	.wtdhMin1421Max1920_duz24pc_17{ width:070.83%;}
	.wtdhMin1421Max1920_duz24pc_18{ width:075.00%;}
	.wtdhMin1421Max1920_duz24pc_19{ width:079.17%;}
	.wtdhMin1421Max1920_duz24pc_20{ width:083.33%;}
	.wtdhMin1421Max1920_duz24pc_21{ width:087.50%;}
	.wtdhMin1421Max1920_duz24pc_22{ width:091.67%;}
	.wtdhMin1421Max1920_duz24pc_23{ width:095.83%;}
	.wtdhMin1421Max1920_duz24pc_24{ width:100.00%;}
	
	.wtdhMin1421Max1920_duz24vw_01{ width:004.17vw;}
	.wtdhMin1421Max1920_duz24vw_02{ width:008.33vw;}
	.wtdhMin1421Max1920_duz24vw_03{ width:012.50vw;}
	.wtdhMin1421Max1920_duz24vw_04{ width:016.67vw;}
	.wtdhMin1421Max1920_duz24vw_05{ width:020.83vw;}
	.wtdhMin1421Max1920_duz24vw_06{ width:025.00vw;}
	.wtdhMin1421Max1920_duz24vw_07{ width:029.17vw;}
	.wtdhMin1421Max1920_duz24vw_08{ width:033.33vw;}
	.wtdhMin1421Max1920_duz24vw_09{ width:037.50vw;}
	.wtdhMin1421Max1920_duz24vw_10{ width:041.67vw;}
	.wtdhMin1421Max1920_duz24vw_11{ width:045.83vw;}
	.wtdhMin1421Max1920_duz24vw_12{ width:050.00vw;}
	.wtdhMin1421Max1920_duz24vw_13{ width:054.17vw;}
	.wtdhMin1421Max1920_duz24vw_14{ width:058.33vw;}
	.wtdhMin1421Max1920_duz24vw_15{ width:062.50vw;}
	.wtdhMin1421Max1920_duz24vw_16{ width:066.67vw;}
	.wtdhMin1421Max1920_duz24vw_17{ width:070.83vw;}
	.wtdhMin1421Max1920_duz24vw_18{ width:075.00vw;}
	.wtdhMin1421Max1920_duz24vw_19{ width:079.17vw;}
	.wtdhMin1421Max1920_duz24vw_20{ width:083.33vw;}
	.wtdhMin1421Max1920_duz24vw_21{ width:087.50vw;}
	.wtdhMin1421Max1920_duz24vw_22{ width:091.67vw;}
	.wtdhMin1421Max1920_duz24vw_23{ width:095.83vw;}
	.wtdhMin1421Max1920_duz24vw_24{ width:100.00vw;}
}
@media (min-width: 1921px){
	.wtdhMin1921_duz24pc_01{ width:004.17%;}
	.wtdhMin1921_duz24pc_02{ width:008.33%;}
	.wtdhMin1921_duz24pc_03{ width:012.50%;}
	.wtdhMin1921_duz24pc_04{ width:016.67%;}
	.wtdhMin1921_duz24pc_05{ width:020.83%;}
	.wtdhMin1921_duz24pc_06{ width:025.00%;}
	.wtdhMin1921_duz24pc_07{ width:029.17%;}
	.wtdhMin1921_duz24pc_08{ width:033.33%;}
	.wtdhMin1921_duz24pc_09{ width:037.50%;}
	.wtdhMin1921_duz24pc_10{ width:041.67%;}
	.wtdhMin1921_duz24pc_11{ width:045.83%;}
	.wtdhMin1921_duz24pc_12{ width:050.00%;}
	.wtdhMin1921_duz24pc_13{ width:054.17%;}
	.wtdhMin1921_duz24pc_14{ width:058.33%;}
	.wtdhMin1921_duz24pc_15{ width:062.50%;}
	.wtdhMin1921_duz24pc_16{ width:066.67%;}
	.wtdhMin1921_duz24pc_17{ width:070.83%;}
	.wtdhMin1921_duz24pc_18{ width:075.00%;}
	.wtdhMin1921_duz24pc_19{ width:079.17%;}
	.wtdhMin1921_duz24pc_20{ width:083.33%;}
	.wtdhMin1921_duz24pc_21{ width:087.50%;}
	.wtdhMin1921_duz24pc_22{ width:091.67%;}
	.wtdhMin1921_duz24pc_23{ width:095.83%;}
	.wtdhMin1921_duz24pc_24{ width:100.00%;}

	.wtdhMin1921_duz24vw_01{ width:004.17vw;}
	.wtdhMin1921_duz24vw_02{ width:008.33vw;}
	.wtdhMin1921_duz24vw_03{ width:012.50vw;}
	.wtdhMin1921_duz24vw_04{ width:016.67vw;}
	.wtdhMin1921_duz24vw_05{ width:020.83vw;}
	.wtdhMin1921_duz24vw_06{ width:025.00vw;}
	.wtdhMin1921_duz24vw_07{ width:029.17vw;}
	.wtdhMin1921_duz24vw_08{ width:033.33vw;}
	.wtdhMin1921_duz24vw_09{ width:037.50vw;}
	.wtdhMin1921_duz24vw_10{ width:041.67vw;}
	.wtdhMin1921_duz24vw_11{ width:045.83vw;}
	.wtdhMin1921_duz24vw_12{ width:050.00vw;}
	.wtdhMin1921_duz24vw_13{ width:054.17vw;}
	.wtdhMin1921_duz24vw_14{ width:058.33vw;}
	.wtdhMin1921_duz24vw_15{ width:062.50vw;}
	.wtdhMin1921_duz24vw_16{ width:066.67vw;}
	.wtdhMin1921_duz24vw_17{ width:070.83vw;}
	.wtdhMin1921_duz24vw_18{ width:075.00vw;}
	.wtdhMin1921_duz24vw_19{ width:079.17vw;}
	.wtdhMin1921_duz24vw_20{ width:083.33vw;}
	.wtdhMin1921_duz24vw_21{ width:087.50vw;}
	.wtdhMin1921_duz24vw_22{ width:091.67vw;}
	.wtdhMin1921_duz24vw_23{ width:095.83vw;}
	.wtdhMin1921_duz24vw_24{ width:100.00vw;}
}