@charset "utf-8";

.wtdhGeneral_fib55pc_01{ width:002%;}
.wtdhGeneral_fib55pc_02{ width:004%;}
.wtdhGeneral_fib55pc_03{ width:005%;}
.wtdhGeneral_fib55pc_05{ width:009%;}
.wtdhGeneral_fib55pc_08{ width:015%;}
.wtdhGeneral_fib55pc_13{ width:024%;}
.wtdhGeneral_fib55pc_21{ width:038%;}
.wtdhGeneral_fib55pc_34{ width:062%;}
.wtdhGeneral_fib55pc_55{ width:100%;}

.wtdhGeneral_fib55vw_01{ width:002vw;}
.wtdhGeneral_fib55vw_02{ width:004vw;}
.wtdhGeneral_fib55vw_03{ width:005vw;}
.wtdhGeneral_fib55vw_05{ width:009vw;}
.wtdhGeneral_fib55vw_08{ width:015vw;}
.wtdhGeneral_fib55vw_13{ width:024vw;}
.wtdhGeneral_fib55vw_21{ width:038vw;}
.wtdhGeneral_fib55vw_34{ width:062vw;}
.wtdhGeneral_fib55vw_55{ width:100vw;}

@media (max-width: 320px){
	.wtdhMax0320_fib55pc_01{ width:002%;}
	.wtdhMax0320_fib55pc_02{ width:004%;}
	.wtdhMax0320_fib55pc_03{ width:005%;}
	.wtdhMax0320_fib55pc_05{ width:009%;}
	.wtdhMax0320_fib55pc_08{ width:015%;}
	.wtdhMax0320_fib55pc_13{ width:024%;}
	.wtdhMax0320_fib55pc_21{ width:038%;}
	.wtdhMax0320_fib55pc_34{ width:062%;}
	.wtdhMax0320_fib55pc_55{ width:100%;}
	
	.wtdhMax0320_fib55vw_01{ width:002vw;}
	.wtdhMax0320_fib55vw_02{ width:004vw;}
	.wtdhMax0320_fib55vw_03{ width:005vw;}
	.wtdhMax0320_fib55vw_05{ width:009vw;}
	.wtdhMax0320_fib55vw_08{ width:015vw;}
	.wtdhMax0320_fib55vw_13{ width:024vw;}
	.wtdhMax0320_fib55vw_21{ width:038vw;}
	.wtdhMax0320_fib55vw_34{ width:062vw;}
	.wtdhMax0320_fib55vw_55{ width:100vw;}
}

@media (min-width: 321px) and (max-width: 480px){
	.wtdhMin321Max480_fib55pc_01{ width:002%;}
	.wtdhMin321Max480_fib55pc_02{ width:004%;}
	.wtdhMin321Max480_fib55pc_03{ width:005%;}
	.wtdhMin321Max480_fib55pc_05{ width:009%;}
	.wtdhMin321Max480_fib55pc_08{ width:015%;}
	.wtdhMin321Max480_fib55pc_13{ width:024%;}
	.wtdhMin321Max480_fib55pc_21{ width:038%;}
	.wtdhMin321Max480_fib55pc_34{ width:062%;}
	.wtdhMin321Max480_fib55pc_55{ width:100%;}

	.wtdhMin321Max480_fib55vw_01{ width:002vw;}
	.wtdhMin321Max480_fib55vw_02{ width:004vw;}
	.wtdhMin321Max480_fib55vw_03{ width:005vw;}
	.wtdhMin321Max480_fib55vw_05{ width:009vw;}
	.wtdhMin321Max480_fib55vw_08{ width:015vw;}
	.wtdhMin321Max480_fib55vw_13{ width:024vw;}
	.wtdhMin321Max480_fib55vw_21{ width:038vw;}
	.wtdhMin321Max480_fib55vw_34{ width:062vw;}
	.wtdhMin321Max480_fib55vw_55{ width:100vw;}
}

@media (min-width: 481px) and (max-width: 600px){
	.wtdhMin481Max600_fib55pc_01{ width:002%;}
	.wtdhMin481Max600_fib55pc_02{ width:004%;}
	.wtdhMin481Max600_fib55pc_03{ width:005%;}
	.wtdhMin481Max600_fib55pc_05{ width:009%;}
	.wtdhMin481Max600_fib55pc_08{ width:015%;}
	.wtdhMin481Max600_fib55pc_13{ width:024%;}
	.wtdhMin481Max600_fib55pc_21{ width:038%;}
	.wtdhMin481Max600_fib55pc_34{ width:062%;}
	.wtdhMin481Max600_fib55pc_55{ width:100%;}
	
	.wtdhMin481Max600_fib55vw_01{ width:002vw;}
	.wtdhMin481Max600_fib55vw_02{ width:004vw;}
	.wtdhMin481Max600_fib55vw_03{ width:005vw;}
	.wtdhMin481Max600_fib55vw_05{ width:009vw;}
	.wtdhMin481Max600_fib55vw_08{ width:015vw;}
	.wtdhMin481Max600_fib55vw_13{ width:024vw;}
	.wtdhMin481Max600_fib55vw_21{ width:038vw;}
	.wtdhMin481Max600_fib55vw_34{ width:062vw;}
	.wtdhMin481Max600_fib55vw_55{ width:100vw;}
}

@media (min-width: 601px) and (max-width: 800px){
	.wtdhMin601Max800_fib55pc_01{ width:002%;}
	.wtdhMin601Max800_fib55pc_02{ width:004%;}
	.wtdhMin601Max800_fib55pc_03{ width:005%;}
	.wtdhMin601Max800_fib55pc_05{ width:009%;}
	.wtdhMin601Max800_fib55pc_08{ width:015%;}
	.wtdhMin601Max800_fib55pc_13{ width:024%;}
	.wtdhMin601Max800_fib55pc_21{ width:038%;}
	.wtdhMin601Max800_fib55pc_34{ width:062%;}
	.wtdhMin601Max800_fib55pc_55{ width:100%;}
	
	.wtdhMin601Max800_fib55vw_01{ width:002vw;}
	.wtdhMin601Max800_fib55vw_02{ width:004vw;}
	.wtdhMin601Max800_fib55vw_03{ width:005vw;}
	.wtdhMin601Max800_fib55vw_05{ width:009vw;}
	.wtdhMin601Max800_fib55vw_08{ width:015vw;}
	.wtdhMin601Max800_fib55vw_13{ width:024vw;}
	.wtdhMin601Max800_fib55vw_21{ width:038vw;}
	.wtdhMin601Max800_fib55vw_34{ width:062vw;}
	.wtdhMin601Max800_fib55vw_55{ width:100vw;}
}

@media (min-width: 801px) and (max-width: 1024px){
	.wtdhMin801Max1024_fib55pc_01{ width:002%;}
	.wtdhMin801Max1024_fib55pc_02{ width:004%;}
	.wtdhMin801Max1024_fib55pc_03{ width:005%;}
	.wtdhMin801Max1024_fib55pc_05{ width:009%;}
	.wtdhMin801Max1024_fib55pc_08{ width:015%;}
	.wtdhMin801Max1024_fib55pc_13{ width:024%;}
	.wtdhMin801Max1024_fib55pc_21{ width:038%;}
	.wtdhMin801Max1024_fib55pc_34{ width:062%;}
	.wtdhMin801Max1024_fib55pc_55{ width:100%;}
	
	.wtdhMin801Max1024_fib55vw_01{ width:002vw;}
	.wtdhMin801Max1024_fib55vw_02{ width:004vw;}
	.wtdhMin801Max1024_fib55vw_03{ width:005vw;}
	.wtdhMin801Max1024_fib55vw_05{ width:009vw;}
	.wtdhMin801Max1024_fib55vw_08{ width:015vw;}
	.wtdhMin801Max1024_fib55vw_13{ width:024vw;}
	.wtdhMin801Max1024_fib55vw_21{ width:038vw;}
	.wtdhMin801Max1024_fib55vw_34{ width:062vw;}
	.wtdhMin801Max1024_fib55vw_55{ width:100vw;}
}
@media (min-width: 1025px) and (max-width: 1280px){ 
	.wtdhMin1025Max1280_fib55pc_01{ width:002%;}
	.wtdhMin1025Max1280_fib55pc_02{ width:004%;}
	.wtdhMin1025Max1280_fib55pc_03{ width:005%;}
	.wtdhMin1025Max1280_fib55pc_05{ width:009%;}
	.wtdhMin1025Max1280_fib55pc_08{ width:015%;}
	.wtdhMin1025Max1280_fib55pc_13{ width:024%;}
	.wtdhMin1025Max1280_fib55pc_21{ width:038%;}
	.wtdhMin1025Max1280_fib55pc_34{ width:062%;}
	.wtdhMin1025Max1280_fib55pc_55{ width:100%;}
	
	.wtdhMin1025Max1280_fib55vw_01{ width:002vw;}
	.wtdhMin1025Max1280_fib55vw_02{ width:004vw;}
	.wtdhMin1025Max1280_fib55vw_03{ width:005vw;}
	.wtdhMin1025Max1280_fib55vw_05{ width:009vw;}
	.wtdhMin1025Max1280_fib55vw_08{ width:015vw;}
	.wtdhMin1025Max1280_fib55vw_13{ width:024vw;}
	.wtdhMin1025Max1280_fib55vw_21{ width:038vw;}
	.wtdhMin1025Max1280_fib55vw_34{ width:062vw;}
	.wtdhMin1025Max1280_fib55vw_55{ width:100vw;}	
}
@media (min-width: 1281px) and (max-width: 1420px){ 
	.wtdhMin1281Max1420_fib55pc_01{ width:002%;}
	.wtdhMin1281Max1420_fib55pc_02{ width:004%;}
	.wtdhMin1281Max1420_fib55pc_03{ width:005%;}
	.wtdhMin1281Max1420_fib55pc_05{ width:009%;}
	.wtdhMin1281Max1420_fib55pc_08{ width:015%;}
	.wtdhMin1281Max1420_fib55pc_13{ width:024%;}
	.wtdhMin1281Max1420_fib55pc_21{ width:038%;}
	.wtdhMin1281Max1420_fib55pc_34{ width:062%;}
	.wtdhMin1281Max1420_fib55pc_55{ width:100%;}
	
	.wtdhMin1281Max1420_fib55vw_01{ width:002vw;}
	.wtdhMin1281Max1420_fib55vw_02{ width:004vw;}
	.wtdhMin1281Max1420_fib55vw_03{ width:005vw;}
	.wtdhMin1281Max1420_fib55vw_05{ width:009vw;}
	.wtdhMin1281Max1420_fib55vw_08{ width:015vw;}
	.wtdhMin1281Max1420_fib55vw_13{ width:024vw;}
	.wtdhMin1281Max1420_fib55vw_21{ width:038vw;}
	.wtdhMin1281Max1420_fib55vw_34{ width:062vw;}
	.wtdhMin1281Max1420_fib55vw_55{ width:100vw;}
}
@media (min-width: 1421px) and (max-width: 1920px){ 
	.wtdhMin1421Max1920_fib55pc_01{ width:002%;}
	.wtdhMin1421Max1920_fib55pc_02{ width:004%;}
	.wtdhMin1421Max1920_fib55pc_03{ width:005%;}
	.wtdhMin1421Max1920_fib55pc_05{ width:009%;}
	.wtdhMin1421Max1920_fib55pc_08{ width:015%;}
	.wtdhMin1421Max1920_fib55pc_13{ width:024%;}
	.wtdhMin1421Max1920_fib55pc_21{ width:038%;}
	.wtdhMin1421Max1920_fib55pc_34{ width:062%;}
	.wtdhMin1421Max1920_fib55pc_55{ width:100%;}
	
	.wtdhMin1421Max1920_fib55vw_01{ width:002vw;}
	.wtdhMin1421Max1920_fib55vw_02{ width:004vw;}
	.wtdhMin1421Max1920_fib55vw_03{ width:005vw;}
	.wtdhMin1421Max1920_fib55vw_05{ width:009vw;}
	.wtdhMin1421Max1920_fib55vw_08{ width:015vw;}
	.wtdhMin1421Max1920_fib55vw_13{ width:024vw;}
	.wtdhMin1421Max1920_fib55vw_21{ width:038vw;}
	.wtdhMin1421Max1920_fib55vw_34{ width:062vw;}
	.wtdhMin1421Max1920_fib55vw_55{ width:100vw;}
}
@media (min-width: 1921px){
	.wtdhMin1921_fib55pc_01{ width:002%;}
	.wtdhMin1921_fib55pc_02{ width:004%;}
	.wtdhMin1921_fib55pc_03{ width:005%;}
	.wtdhMin1921_fib55pc_05{ width:009%;}
	.wtdhMin1921_fib55pc_08{ width:015%;}
	.wtdhMin1921_fib55pc_13{ width:024%;}
	.wtdhMin1921_fib55pc_21{ width:038%;}
	.wtdhMin1921_fib55pc_34{ width:062%;}
	.wtdhMin1921_fib55pc_55{ width:100%;}

	.wtdhMin1921_fib55vw_01{ width:002vw;}
	.wtdhMin1921_fib55vw_02{ width:004vw;}
	.wtdhMin1921_fib55vw_03{ width:005vw;}
	.wtdhMin1921_fib55vw_05{ width:009vw;}
	.wtdhMin1921_fib55vw_08{ width:015vw;}
	.wtdhMin1921_fib55vw_13{ width:024vw;}
	.wtdhMin1921_fib55vw_21{ width:038vw;}
	.wtdhMin1921_fib55vw_34{ width:062vw;}
	.wtdhMin1921_fib55vw_55{ width:100vw;}
}